<% content_for :style_after do %>
	<%= stylesheet_link_tag "mypage" %>
<% end %>

<div id="content_body" class="bace_bg">
	<%= render partial:"mypage/content_header" %>
	<div id="mypage_content" class="clearfix mypage_content">
		<h2 class="txt20">Món ăn yêu thích</h2>
		<article class="cate01 clearfix">
			<div class="paginate"><%= paginate @recipes %></div>
			<% if @recipes.size == 0 %>
				<section class="rec_cat4 clearfix">
					<div class="txt">
						<h1 class="txt16">Bạn chưa có món ăn yêu thích nào.</h1>
						<p>
							Bạn có thể add những món ăn yêu thích vào list của mình đấy!
							Hãy bấm nút [yêu thích] trên món ăn mà bạn đã xem nhé!
						</p>
					</div>
				</section>
			<% end %>
			<% @recipes.each do |recipe| %>
				<section class="rec_cat4 clearfix">
					<%= image_tag recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"" %>
					<div class="txt">
						<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
						<p>by <%= link_to recipe.user.profile.nickname, kitchen_url( id: recipe.user_id ) %></p>
						<h2>
							<%= recipe.description %>
							<div class="info_area">
								Created : <span><%= recipe.created_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
								Update : <span><%= recipe.updated_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
								RecipeID : <span><%= recipe.id %></span>
							</div>
						</h2>
					</div>
				</section>
			<% end %>
		</article>
	</div>
</div>
