<% include_action_style_sheet %>

<%= render partial:"layouts/content_footer" %>

<div id="content_body">
  <div id="popular_recipe_area">
    <table id="popular_category">
      <tr>
        <th>
          オススメカテゴリ<%=  %>
        </th>
      </tr>
      <tr>
        <td>
          <p><%=image_tag @recomment_food_genre_recipe.image.url(:thumb) %></p>
          <%=link_to @recomment_food_genre_recipe.title, recipes_url(@recomment_food_genre_recipe) %>
          <p><%= @recomment_food_genre_recipe.description %></p>
          <p>by <%=link_to @recomment_food_genre_recipe.user.profile.nickname, kitchen_url(@recomment_food_genre_recipe.user) %></p>
        </td>
      </tr>
    </table>
    <table id="popular_recipe">
      <tr>
        <th>人気レシピ</th>
      </tr>
      <% @ranking.each do |recipe| %>
      <tr>
        <td>
          <div class="figure"><%=image_tag recipe.image.url(:thumb) %></div>
          <%=link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %><br />
          by <%=link_to recipe.user.profile.nickname, kitchen_url(recipe.user) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div id="category_recipe_search">
    <h3>カテゴリからレシピを探す</h3>
    <div class="section">
      <% @food_genres.each do |genre| %>
      <div class="recipe_category">
        <%=link_to genre.name, controller:"recipes", action:"index", recipe_food_genre_id: genre.id %>
        <ul class="recipe_sub_category">
          <% genre.foods.each do |food| %>
            <li><%=link_to food.name, controller:"recipes", action:"index", recipe_food_id: food.id %></li>
          <% end %>
        </ul>
        <p class="more_link"><%=link_to "more...", controller:"recipe_foods", action:"index", recipe_foog_genre_id: genre.id %></p>
      </div>
      <% end %>
    </div>
    <p class="more_link"><%=link_to "all genres", controller:"recipe_foods", action:"index" %></p>
  </div>
</div>
