
<div class="bace_bg">
<div class="contents_bg clearfix">

<!--main_clm-->
<div class="main_clm">
	<article class="rec_cat clearfix">
		<h1 class="txt12"><%= t(:recomment_recipe_title, scope:"views.content_footer") %></h1>
		<section>
			<%= image_tag @recommend_recipe.image.url(:top_large_thumb) || "no_image_cook.png", width:"170", height:"250", alt:"" %>
			<div class="txt">
				<h1 class="txt16"><%= link_to @recommend_recipe.title, recipe_url(@recommend_recipe) %></h1>
				<h2><%= @recommend_recipe.description %>
				<p>by<%= link_to @recommend_recipe.chef.profile.nickname, recipe_url(@recommend_recipe.id) %></p>
				</h2>
				<p class="arr txt11">
					<%= link_to t(:category_more, scope:"views.top.index"), recipe_foods_url( recipe_food_genre_id: @recommend_recipe.id ) %>
				</p>
			</div>
		</section>
	</article>

	<article class="rec_cat2 clearfix">
		<h1 class="txt12"><%= t(:pop_ranking_title, scope:"views.content_footer") %></h1>
		<% @ranking.each do |recipe| %>
			<section class="clearfix">
				<%= image_tag recipe.image.url(:top_thumb), width:"75", height:"105", alt:"" %>
				<div class="txt">
					<h1 class="txt16"><%= link_to recipe.title, recipe_url(recipe) %></h1>
					<p>by<%= link_to recipe.user.profile.nickname, kitchen_url(recipe.user) %></p>
					<p class="arr txt11">
						<%= link_to t(:category_more, scope:"views.top.index"), recipe_foods_url( recipe_food_genre_id: recipe.id ) %>
					</p>
				</div>
			</section>
		<% end %>
	</article>

	<article class="cate01 clearfix">
		<h1><%= t(:category_list_title,scope:"views.top.index") %></h1>
		<% @food_genres.each do |genre| %>
			<section>
				<%= image_tag genre.image, width:"92", height:"92", alt:"" %>
				<div class="txtarea">
					<h1><%="#{genre.name}(#{genre.amount})"%></h1>
					<ul class="catelists">
						<% genre.foods.page(1).per(3).each do |food| %>
							<li class="arr txt11 flo_l"><%= link_to food.name, "/recipes/recipe_foods/#{food.id}" %></li>
						<% end %>
					</ul>
				</div>
				<p class="more arr txt11"><%= link_to t(:category_more, scope:"views.top.index"), recipe_foods_url( recipe_food_genre_id: genre.id ) %></p>
			</section>
		<% end %>
		<%= link_to t(:all_categories, scope:"views.top.index"), recipe_food_genres_url %>
	</article>
</div>
<!--main_clmEnd-->
<%=render partial:"layouts/right_side_content" %>

</div>
<!--contents-->
</div>
<!--wrapperEnd-->




<!--
<%= render partial:"layouts/content_footer" %>

<div id="content_body">
  <div id="popular_recipe_area">
    <table id="popular_category">
      <tr>
        <th>
          <%= t(:recommended_category, scope:"views.top.index") %>
          <% if @recomment_food %>
            (<%= link_to @recomment_food.name, recipes_url( recipe_food_id: @recomment_food.id  ) %>)
          <% end %>
        </th>
      </tr>
      <tr>
        <td>
          <p><%= image_tag @recomment_food_genre_recipe.image.url(:thumb) %></p>
          <%= link_to @recomment_food_genre_recipe.title, recipe_url( @recomment_food_genre_recipe ) %>
          <p><%= @recomment_food_genre_recipe.description %></p>
          <p>by <%= link_to @recomment_food_genre_recipe.user.profile.nickname, kitchen_url(@recomment_food_genre_recipe.user) %></p>
        </td>
      </tr>
    </table>
    <table id="popular_recipe">
      <tr>
        <th><%= t(:rank_in_recipe, scope:"views.top.index") %></th>
      </tr>
      <% @ranking.each do |recipe| %>
        <tr>
          <td>
            <div class="figure"><%= image_tag recipe.image.url(:thumb) %></div>
            <%= link_to recipe.title, recipe_url(recipe) %><br />
            by <%= link_to recipe.user.profile.nickname, kitchen_url(recipe.user) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div id="category_recipe_search">
    <h3><%= t(:category_list_title,scope:"views.top.index") %></h3>
    <div class="section">
      <% @food_genres.each do |genre| %>
        <div class="recipe_category">
          <h4><%= link_to genre.name, recipes_url(recipe_food_genre_id: genre.id) %></h4>
          <%= image_tag genre.image.url(:thumb), alt:"" %>
          <ul class="recipe_sub_category">
            <% genre.foods.each do |food| %>
              <li><%= link_to food.name, recipes_url(recipe_food_id: food.id) %></li>
            <% end %>
          </ul>
          <p class="more_link"><%= link_to t(:category_more, scope:"views.top.index"), recipe_foods_url( recipe_food_genre_id: genre.id ) %></p>
        </div>
      <% end %>
    </div>
    <p class="more_link"><%= link_to t(:all_categories, scope:"views.top.index"), recipe_foods_url %></p>
  </div>
</div>
-->

