<% include_action_style_sheet %>

<%= render partial:"layouts/header" %>

<div id="content" class="section">
  <div id="content_footer">
    <div id="footer_advertisement">
      広告スペース
    </div>
  </div>
  <div id="content_body">
    <div id="popular_recipe_area">
      <table id="popular_category">
        <tr>
          <th>オススメカテゴリ</th>
         </tr>
         <tr>
          <td>アメリカ発チーズ好き必見ビファロニ</td>
        </tr>
      </table>
      <table id="popular_recipe">
        <tr>
          <th>人気レシピ</th>
        </tr>
        <tr>
          <td>
            <div class="figure">写真</div>
            敗れ憎い小籠包<br />
            by しばわんこ
          </td>
        </tr>
        <tr>
          <td>
            <div class="figure">写真</div>
            敗れ憎い小籠包<br />
            by まさパンダワン
          </td>
        </tr>
      </table>
    </div>
    <div id="category_recipe_search">
      <h3>カテゴリからレシピを探す</h3>
      <div class="section">
        <% @food_genres.each do |genre| %>
          <div class="recipe_category">
            <%=link_to genre.name, controller:"recipes", action:"index", recipe_food_genre_id: genre.id %>
            <ul class="recipe_sub_category">
              <% genre.foods.each do |food| %>
                <li><%=link_to food.name, controller:"recipes", action:"index", recipe_food_id: food.id %></li>
              <% end %>
            </ul>
            <p class="more_link"><%=link_to "もっと見る", controller:"recipe_food_genre", action:"index", recipe_foog_genre_id: genre.id %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial:'layouts/footer' %>
