<% content_for :style_after do; stylesheet_link_tag "top/restaurant"; end %>

<%= render partial:"layouts/header" %>

<div class="nav" id="top_nav">
  <ul>
    <li><%=link_to "エリアから探す", controller:"restaurant_search", action:"area" %></li>
    <li><%=link_to "料理から探す", controller:"restaurant_search", action:"food_genre" %></li>
    <li><%=link_to "オススメから探す", controller:"restaurant_search", action:"eat_style" %></li>
  </ul>
</div>

<div id="content">
  <%= render partial:"content_tabpanel" %>
  <div id="top_advertisement">
    advertisement
  </div>

  <div id="content_nav" class="nav">
    <div class="tile" id="promotion">
      <p>advertisement</p>
    </div>
    <div class="tile" id="information">
      <dl class="newsfeeds">
        <dt>Topics 04/27</dt>
        <dd>news1</dd>
        <dt>Topics 04/26</dt>
        <dd>news2</dd>
      </dl>
    </div>
    <div class="tile" id="facebook">
      <h2>Facebook</h2>
      <div id="facebook_body">
        <p>facebook</p>
      </div>
    </div>
    <div class="tile" id="google_plus_area">
      <h2>Google+</h2>
      <div id="facebook_body">
        <p>Google+</p>
      </div>
    </div>
  </div>

  <div id="content_body">
    <div id="area_search_area">
      <h3>エリアから探す</h3>
      <div class="area_list">
        <dl>
          <% Prefecture.all.each do |area| %>
            <dt><%= link_to area.name, controller:"restaurant_search", action:"area", prefecture_id: area.id %></dt>
          <% end %>
        </dl>
        <div>map</div>
      </div>
    </div>
    <div id="recommend_area">
      <h3>おすすめお店</h3>
      <div id="recommend_body">
        <% (1..2).each do |i|  %>
          <div class="recommend">
            <div class="figure">
              photo
            </div>
            <div>restaurant name</div>
            <div>place</div>
            <div>comment&amp;view</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= render partial:'layouts/footer' %>
