<%=render partial:'common/top_nav' %>

<div class='nav' id='top_nav'>
  <ul>
    <li><%=link_to "検索TOP", controller:'shop_search', action:'index' %></li>
    <li><%=link_to "エリアから探す", controller:'shop_search', action:'area' %></li>
    <li><%=link_to "料理から探す", controller:'shop_search', action:'food_genre' %></li>
    <li><%=link_to "オススメから探す", controller:'shop_search', action:'shop_character' %></li>
  </ul>
</div>

<div id='header'>
  <h1>
    <p>ras_vn</p>
    <p>宴会・グルメ情報検索サイト</p>
  </h1>
  <div id='top_advertisement'>
    <p>hoge</p>
  </div>
</div>

<div id='content'>
  <%= render partial:'content_tabpanel' %>
  <div id='nav'>
    <div id='genre_list'>
      <ul>
        <% @food_genre.each do |genre| %>
        <li><%=link_to genre.name, controller:'shop_search', action:'food_genre', id: genre.id %></li>
        <% end %>
        <li class='more'><a href="/search/food_genre">more...</a></li>
      </ul>
    </div>
  </div>
  <div id='content_body'>
    <div class='tile' id='location_map'>
      <h2>全国のグルメ・レストランを探す</h2>
      <div class='map'>map</div>
      <div class='area_list'>
        <dl>
          <% AreaMaster.where( " data_type = 1 " ).each do |area| %>
          <dt><%= area.name %></dt>
          <% end %>
        </dl>
      </div>
    </div>
    <div class='tile' id='redomendation_tools'>
      <h2>お店予約の便利ツール</h2>
      <div>hoge</div>
    </div>
  </div>
  <div id='sub_nav'>
    <div class='tile' id='promotion'>
      <p>広告</p>
    </div>
    <div class='tile' id='facebook'>
      <h2>Facebook</h2>
      <div id='facebook_body'>
        <p>facebook</p>
      </div>
    </div>
  </div>
</div>

<%= render partial:'layouts/footer' %>
