<h1>Profile</h1>

<%= semantic_form_for @profile, url:{ action:'update' } do |f| %>
  <table>
    <tr>
      <td><%=profile_image_tag @profile %></td>
    </tr>
    <tr>
      <td>
        <%=f.file_field :image %>
        <p>(アップロードすると自動で変更されます)</p>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th><%= f.label :id %></th>
      <td colspan="2"><%= @profile.id %></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :nickname %></th>
      <td colspan="2"><%=f.text_field :nickname, value: @profile.nickname %></td>
      <td>
        <%=visibility_radios( @visibility, :nickname )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td colspan="2"><%= f.text_field :birthday, value:@profile.birthday %></td>
      <td><%= visibility_radios( @visibility, :birthday ) %></td>
    </tr>
    <tr>
      <th><%= f.label :mail_address %></th>
      <td colspan="2"><%= f.text_field :mail_address, value: @profile.mail_address %></td>
      <td><%= visibility_radios( @visibility, :mail_address ) %></td>
    </tr>
    <tr>
      <th><%= f.label :sex %></th>
      <td colspan="2"><%= select_sex( f, @profile.sex ) %></td>
      <td><%= visibility_radios( @visibility, :sex ) %></td>
    </tr>
    <tr>
      <th><%= f.label :comment %></th>
      <td colspan="2"><%= f.text_field :comment, value: @profile.comment %></td>
      <td><%= visibility_radios( @visibility, :comment ) %></td>
    </tr>
    <tr>
      <td colspan="4"><%= f.submit t(:update,scope:"views.profile") %></td>
    </tr>
  </table>
<% end %>
