<h1>Profile</h1>

  <table>
    <tr>
      <td><%= t(:id, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.id %></td>
    </tr>
    <tr>
      <td><%= t(:nickname, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.nickname %></td>
    </tr>
    <tr>
      <td><%= t(:email, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.email %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= t(:first_name,  scope:"activerecord.attributes.user_profile") %></td>
      <td><%= t(:family_name, scope:"activerecord.attributes.user_profile") %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= @profile.first_name  %></td>
      <td><%= @profile.faimly_name %></td>
    </tr>
    <tr>
      <td><%= t(:sex, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%=translate_sex( @profile.sex ) %></td>
    </tr>
    <tr>
      <td><%= t(:birthday, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.birthday %></td>
    </tr>
    <tr>
      <td colspan="3"><%=link_to "編集", edit_profile_url( @profile ) %></td>
    </tr>
  </table>
