<h1>Profile</h1>

  <table>
    <tr>
      <td><%= t(:id, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.id %></td>
    </tr>
    <tr>
      <td><%= t(:nickname, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.nickname %></td>
    </tr>
    <tr>
      <td><%= t(:mail_address, scope:"activerecord.attributes.user_profile") %></td>
      <td colspan="2"><%= @profile.mail_address %></td>
    </tr>
    <tr>
      <td></td>
      <td>性</td>
      <td>名</td>
    </tr>
    <tr>
      <td></td>
      <td><%= @profile.first_name %></td>
      <td><%= @profile.last_name  %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td colspan="2"><%=translate_sex( @profile.sex ) %></td>
    </tr>
    <tr>
      <td>生年月日</td>
      <td colspan="2"><%= @profile.birthday %></td>
    </tr>
    <tr>
      <td colspan="3"><%=link_to "編集", action:'edit', id: @profile.id %></td>
    </tr>
  </table>
