<%= render "form_javascripts" %>

<%= form_for @item, :url => options, :html => { :class => "resource", :multipart => true } do |form| %>

  <%= render "helpers/admin/resources/errors" %>

  <fieldset class="inputs">
    <ol>
      <li>
        <%= form.label :user_id %>
        <%= form.text_field :user_id, value: @item.user_id, size: 100 %>
      </li>
      <li>
        <%= form.label :title %>
        <%= form.text_field :title, value: @item.title, size: 100 %>
      </li>
      <li>
        <%= form.label :recipe_image %>
        <%= form.file_field :recipe_image, value: @item.recipe_image %>
      </li>
      <li>
        <%= form.label :description %>
        <%= form.text_area :description, value: @item.title, size:"100x5" %>
      </li>
      <li>
        <%= form.label :one_point %>
        <%= form.text_area :one_point, value: @item.one_point, size:"100x5" %>
      </li>
      <li>
        <%= form.label :public %>
        <%= form.text_field :public, value: @item.public %>
      </li>
      <li>
        <%= form.label :eatstyle_id %>
        <%= form.text_field :eatstyle_id, value: @item.eatstyle_id %>
      </li>
      <li>
        <%= form.label :recipe_food_id %>
        <%= form.text_field :recipe_food_id, value: @item.recipe_food_id %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <% build_save_options.each do |key, value, special| %>
        <%
          message = Typus::I18n.t(value)
          options = { :name => key, :onclick => "Typus.setConfirmUnload(false);", :disable_with => message  }
        %>
        <li><%= submit_tag message, options %></li>
      <% end %>
    </ol>
  </fieldset>

<% end %>
