<h2>Sign up</h2>

<%= link_to "Twitterでlogin","/auth/twitter" %>
<%= link_to "facebookでlogin", "/auth/facebook" %>
<%= link_to "Google+でlogin", "/auth/google_oauth2" %>

<% @tmp = Omniuser.find_by_uid(session[:tmp_uid]) %>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <h2>プロフィール登録</h2>
  <%= devise_error_messages! %>

  <ul>
    <%=f.input :email %>
    <%=f.input :password %>
    <%=f.input :password_confirmation %>
    <li><%=f.hidden_field :omniuser_id, value: (current_omniuser && current_omniuser.id) %></li>
  </ul>
  <%= f.hidden_field :omniuser_id, :value => (@tmp && @tmp.id) %>

  <%= f.semantic_fields_for :user_profile do |profile| %>
    <ul>
      <li>
        <fieldset class="fragments">
          <legend class="label"><label for="user_user_profile_attributes_nickname">Nickname</label></legend>
          <%= profile.text_field :nickname, value:(@tmp && @tmp.name) %>
        </fieldset>
      </li>
      <li>
        <fieldset class="fragments" id="birthday_select_boxes">
          <legend class="label"><label for="user_user_profile_attributes_birthday">Birthday</label></legend>
          <%= profile.date_select :birthday, use_month_numbers: true %>
        </fieldset>
      </li>
      <%= profile.input :sex, :as=>:radio, collection:{ "male" => 1, "female" => 2} %>
      <%= profile.input :prefecture_id, :as=>:select, :collection=>%W[aaa bbb] %>
    </ul>
  <% end %>

  <div><%= f.submit %></div>
<% end %>

<%= render "links" %>
