<h2>Sign up</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <h2>Nhahang24レシピのID情報</h2>
  <%= devise_error_messages! %>

  <ul>
    <%=f.input :email %>
    <%=f.input :password %>
    <%=f.input :password_confirmation %>
  </ul>

  <%= f.semantic_fields_for :user_profile do |profile| %>
    <h3>個人情報</h3>
    <ul>
      <%= profile.input :nickname %>
      <%= profile.input :birthday %>
      <%= profile.input :sex, :as=>:radio, collection:{male: 1,female: 2} %>
    </ul>
  <% end %>

  <div><%= f.submit %></div>
<% end %>

<%= render "links" %>
