<h2>Sign up</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= f.semantic_fields_for :user_profile do |profile| %>
    <div>
      <%= profile.label :nickname %><br />
      <%= profile.text_field :nickname %>
    </div>
    <div>
      <%= profile.label :birthday %><br />
      <%= profile.text_field :birthday %>
    </div>
    <div>
      <%= profile.label :sex %><br />
      <%= profile.text_field :sex %>
    </div>
  <% end %>


  <div><%= f.submit "登録" %></div>
<% end %>

<%= render "links" %>
