<h2>Sign up</h2>

<% @tmp = Omniuser.find_by_uid(session[:tmp_uid]) %>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <h2>プロフィール登録</h2>
  <%= devise_error_messages! %>
  <ul>
    <%=f.input :email %>
    <%=f.input :password %>
    <%=f.input :password_confirmation %>
    <li><%=f.hidden_field :omniuser_id, value: (current_omniuser && current_omniuser.id) %></li>
  </ul>
  <%= f.hidden_field :omniuser_id, :value => (@tmp && @tmp.id) %>

  <%= f.semantic_fields_for :user_profile do |profile| %>
    <%= profile.semantic_errors %>
    <ul>
      <%= profile.input :nickname %>
      <li>
        <fieldset class="fragments" id="birthday_select_boxes">
          <legend class="label"><label for="user_user_profile_attributes_birthday">Birthday</label></legend>
          <%= profile.date_select :birthday, use_month_numbers: true %>
        </fieldset>
      </li>
      <%= profile.input :sex, :as=>:radio, collection:{ "male" => 1, "female" => 2} %>
      <%= profile.input :prefecture_id, :as=>:select, :label=>"Prefecture*", :collection=>Distinct.all.map{|o| [o.name,o.id] } %>
    </ul>
    <p>お住まいの地域を選択してください。</p>
    <p>お住まいの地域をご登録頂くと、毎日お得なクーポン情報をお届けいたします。</p>
  <% end %>

  <div><%= f.submit %></div>
<% end %>

<%= render "links" %>
