<%= render "form_javascripts" %>

<%= semantic_form_for @item, :url => options, :html => { :class => "resource", :multipart => true } do |form| %>

  <%= render "helpers/admin/resources/errors" %>

  <fieldset class="inputs">
    <ol>
      <%= form.input :title, input_html:{ size: 100 } %>
      <li><%= form.label :image %><%= form.file_field :image %></li>
      <%= form.input :content %>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <% build_save_options.each do |key, value, special| %>
        <%
          message = Typus::I18n.t(value)
          options = { :name => key, :onclick => "Typus.setConfirmUnload(false);", :disable_with => message  }
        %>
        <li><%= submit_tag message, options %></li>
      <% end %>
    </ol>
  </fieldset>

<% end %>
