<% if new_page? || content.draft? %>
<h2 class="ttlEditStep01">ガイドを書く</h2>
<% end %>
<div class="EditTtlInput">
<% unless new_page? || content.draft? %>
  <h2 class="ttlEdit">ガイドを編集する</h2>
<% end %>
  <div class=" EditTtlInput-inner clearfix">
    <div class="EditTtlInputSttl">タイトル</div>
    <% if new_page? || content.draft? || admin? || !disabled_option(content.create_user_id) %>
      <%= form.text_field :title , "data-url" => assistant_guides_path %>
    <% else %>
      <%= form.text_field :title, :disabled => true %>
      <%= form.hidden_field :title %>
    <% end %>

    <% if content.request_message_id != 0 %>
      <%= hidden_field_tag :request_message_id, content.request_message_id %>
    <% end %>
    <%= template_error_messages_for :content, :title %>
  </div>
  <div class=" EditTtlInput-inner clearfix">
    <div class="EditTtlInputSttl">キタイ</div>
    <dl>
      <dd>
        <select class="selectable" name="content[desire_id]">
          <% desires.each do |desire| %>
            <% if content.desire_id == desire.id %>
            <optgroup><option value="<%= desire.id%>" selected><%= desire.input_name %></option></optgroup>
            <% else %>
            <optgroup><option value="<%= desire.id%>"><%= desire.input_name %></option></optgroup>
            <% end %>
          <% end %>
        </select>
      </dd>
    </dl>
  </div>
  <div class=" EditTtlInput-inner clearfix">
    <div class="EditTtlInputSttl">カテゴリ</div>
    <dl>
      <dd>
        <select class="selectable" name="content[category_id]">
          <% categories.each do |category| %>
            <% if content.category_id == category.id %>
              <optgroup><option value="<%= category.id%>" selected><%= category.name %></option></optgroup>
            <% else %>
              <optgroup><option value="<%= category.id%>"><%= category.name %></option></optgroup>
            <% end %>
          <% end %>
        </select>
      </dd>
    </dl>
  </div>
  <div class=" EditTtlInput-inner clearfix">
    <div class="EditTtlInputSttl">タグ</div>
    <%= text_field_tag :tags, @content.tag_names %>
    <% @content.tags.each do | tag | %>
      <%= template_error_messages_for tag %>
    <% end %>
  </div>
</div>

<div id="content_image_upload" style="display:none;">
  <input type="file" name="content_image" data-url="<%= attachments_path %>" class="input_content_image"> 
</div>
<div>
  <p class="DecoratSttl">ガイドの前書きを入力</p>
  <div class="wmd-container">
    <div class="wmd-button-barRem">
      <ul class="wmd-button-row clearfix">
        <li title="イメージ添付" class="wmd-image-button wmd-button">
          <%= link_to "", input_flickr_path, {:class => "search_flickr whole_link" } %>
        </li>
      </ul>
    </div>
    <%= form.text_area :note, :class => "wmd-input" %>
    <%= template_error_messages_for :content, :note %>
  </div>
  <div id="content[note_attachment_id]" class="wmd-container">
  <% if content.note_attachment_id %>
    <%= render :partial => "image", :locals => { :attachment => content.note_attachment, :element_id => "content[note_attachment_id]" } %>
    <%= form.hidden_field :note_attachment_id %>
  <% end %>
  </div>
</div>
<div class="clearfix">
  <p class="DecoratSttl">ガイドのステップを入力</p>
  <div class="EditTtlInput">
    <div class=" EditTtlInput-inner clearfix"> <div class="EditTtlInputSttl">ステップ</div>
      <dl>
        <dd>
          <%= form.select :instruction_type, [["表示",0], ["非表示",1]], {:selected => @content.instruction_type}, {:class => "instruction_selectable"} %>
        </dd>
      </dl>
    </div>
  </div>
  <div id="step">
    <%= render :partial => "instruction", :collection => content.instructions %>
  </div>
  <div class="wmd-stepBtn flo_r">
    <div class="Btn_StepAdd"><a id="add_step" href="#" title="ステップを追加"></a></div>
  </div>
</div>
<div class="clearfix">
  <p class="DecoratSttl">ポイント</p>
  <div class="wmd-container">
    <div class="wmd-button-barRem">
      <ul class="wmd-button-row clearfix">
        <li title="イメージ添付" class="wmd-image-button wmd-button">
          <%= link_to "", input_flickr_path, {:class => "search_flickr whole_link"} %>
        </li>
        <li title="youtube" class="wmd-youtube-button wmd-button">
          <%= link_to "", input_youtube_path, {:class => "input_youtube whole_link"} %>
        </li>
      </ul>
    </div>
    <%= form.text_area :tips, :class => "wmd-input" %>
    <%= template_error_messages_for :content, :tips %>
  </div>
  <div id="content[tips_attachment_id]" class="wmd-container">
  <% if content.tips_attachment_id %>
    <%= render :partial => "image", :locals => { :attachment => content.tips_attachment, :element_id => "content[tips_attachment_id]" } %>
    <%= form.hidden_field :tips_attachment_id %>
  <% end %>
  </div>
</div>
<div>
  <p class="DecoratSttl">必要なもの</p>
  <div class="wmd-container">
    <div class="wmd-button-barRem">
      <ul class="wmd-button-row clearfix">
        <li title="イメージ添付" class="wmd-image-button wmd-button">
          <%= link_to "", input_flickr_path, {:class => "search_flickr whole_link"} %>
        </li>
      </ul>
    </div>
    <%= form.text_area :needs, :class => "wmd-input" %>
    <%= template_error_messages_for :content, :needs %>
  </div>
  <div id="content[needs_attachment_id]" class="wmd-container">
    <% if content.needs_attachment_id %>
      <%= render :partial => "image", :locals => { :attachment => content.needs_attachment, :element_id => "content[needs_attachment_id]" } %>
      <%= form.hidden_field :needs_attachment_id %>
    <% end %>
  </div>
</div>
<div id="edit_btn" class="clearfix">
  <ul class="clearfix">
    <li id="Btn_Back">
      <%=
        link_to_if(new_page?, "", root_path) do |name|
          link_to name, guide_path(content)
      end
    %>
    </li>
    <% if content.request_message_id == 0  && (content.edit_request? || content.draft?) %>
    <li id="Btn_Edithope"><%= form.submit("edit_request", :name => "btn_submit", :title => "編集希望", :disable_with => "") %></li>
    <% end %>
    <li id="Btn_SavePublish"><%= form.submit("release", :name => "btn_submit", :title => "保存して公開", :disable_with => "") %></li>
    <% if content.request_message_id == 0  && content.draft? %>
    <li id="Btn_SaveDraft"><%= form.submit("draft", :name => "btn_submit", :title => "下書きを保存", :disable_with => "") %></li>
    <% end %>
    <li id="Btn_Preview">
    <% if content.id %>
      <%= link_to "", preview_guides_path(:id => content.id), "data-submit" => "guide_form" %>
    <% else %>
      <%= link_to "", preview_guides_path, "data-submit" => "guide_form" %>
    <% end %>
    </li>
  </ul>
</div>
<!--/edit_btn-->
