<div id="step_<%= instruction_counter %>" class="sort_position">
  <% if @content.instruction_type == 0 %>
  <div class="wmd-step clearfix">
  <% else %>
  <div class="wmd-step clearfix" style="display:none;">
  <% end %>
    <div class="fo_b txt14"><span class="blue_ttl">STEP<em class="step-number"><%= instruction_counter + 1 %></em></span></div>
  </div>
  <div class="wmd-container">
    <div class="wmd-button-bar">
      <ul class="wmd-button-row">
        <li title="イメージ添付" class="wmd-image-button wmd-button">
          <%= link_to "", input_flickr_path, {:class => "search_flickr whole_link"} %>
        </li>
        <li title="youtube" class="wmd-youtube-button wmd-button">
          <%= link_to "", input_youtube_path, {:class => "input_youtube whole_link"} %>
        </li>
        <li class="wmd-close-button wmd-button" title="閉じる"></li>
      </ul>
    </div>
    <%= text_area_tag "instruction[#{instruction_counter}][note]", instruction.note, :id => nil, :class => "wmd-input" %>
    <%= template_error_messages_for instruction, :note %>
  </div>
  <!--↑STEP-->
  <div id="<%= "instruction[#{instruction_counter}][attachment_id]" %>" class="wmd-container">
  <% if instruction.attachment %>
    <%= render :partial => "image", :locals => { :attachment => instruction.attachment, :element_id => "instruction[#{instruction_counter}][attachment_id]" } %>
    <%= hidden_field_tag "instruction[#{instruction_counter}][attachment_id]", instruction.attachment_id %>
  <% end %>
  </div>
</div>
