<%= include_action_javascript %>

<h2>recipe</h2>
<div id="content_body" class="section">
  <%=semantic_form_for @recipe, url: recipe_url(@recipe.id), html:{multipart: true} do |f| %>
    <h2><%= f.text_field :title, value: @recipe.title %></h2>
    <div id="recipe_base_info">
      <div class="section" id="recipe_body">
        <div id="recipe_photo" class="figure">
          <% if @recipe.recipe_image %>
            <%=image_tag  @recipe.recipe_image.url(:large_thumb) %>
          <% else %>
            <%=image_tag "no_image.gif" %>
          <% end %>
        </div>
        <div id="description">
          <%= f.text_area :description, value: @recipe.description %>
        </div>
        <div id="resipe_genre_select_area" class="area">
          <h3>ジャンル</h3>
          <%= recipe_genre_select_area(f) %>
        </div>
        <div id="foodstuffs_area" class="area">
          <table id="foodstuffs">
            <tr><th colspan="2">食材(<%= f.text_field :amount, size: 3 %>人前)</th></tr>
            <tr>
              <th class="name">食材</th>
              <th class="amount">分量</th>
            </tr>
            <% @recipe.edit_foodstuffs.each_with_index do |foodstuff,i| %>
              <tr class="foodstuff_row_<%= i %>">
                <td class="name"><%=text_field_tag "foodstuffs[][name]", foodstuff.name %></td>
                <td class="amount"><%=text_field_tag "foodstuffs[][amount]", foodstuff.amount %></td>
              </tr>
            <% end %>
          </table>
          <form><input type="button" value="食材追加" id="add_foodstuffs_row" /></form>
        </div>
      </div>

      <div id="recipes_steps_area" class="area">
        <dl id="recipe_steps">
          <% @recipe.edit_steps.each.with_index(1) do |step,i| %>
            <dl class="step" id="recipe_step_<%= i %>">
              <dt>Step <%= i %></dt>
              <dt class="selecter image_field">
                <%= label :recipe_steps, "画像" %>
                <%= file_field_tag "recipe_steps[][image]", class:"image_selecter" %>
              </dt>
              <dt class="selecter movie_field">
                <%= label :recipe_steps, "動画" %>
                <%= text_field_tag "recipe_steps[][movie_url]", step.movie_url, class:"movie_selecter" %>
                <form class="movie_button_field">
                  <input type="button" value="Movie" class="movie_button" />
                  <%= hidden_field_tag "recipe_step_id_#{i}", i, class:"recipe_step_id" %>
                </form>
              </dt>
              <dd>
                <%= text_area_tag "recipe_steps[][content]", step.content, class:'step_edit_area' %>
                <% if step.image %>
                  <%=image_tag step.image.url(:thumb), alt:"" %>
                <% end %>
                <% if step.movie_url %>
                  <iframe width="560" height="315" src="<%= step.movie_url %>" frameborder="0" allowfullscreen></iframe>
                <% end %>
              </dd>
            </dl>
          <% end %>
        </dl>
        <form><input type="button" value="ステップ追加" id="add_steps" /></form>
      </div>

      <h3>Point!!</h3>
      <div class="section"><%=f.text_area :one_point, value: @recipe.one_point %></div>

      <h3>Public Status</h3>
      <p><%= f.select :public, { public: true, closed: false } %></p>

      <p class="form_actions">
        <%= f.submit :edit,   value:"Update" %>
        <%= f.submit :commit, value:"Save and go Next Step" %>
      </p>
    <% end %>

    <div id="search_youtube_area">
      <%= hidden_field_tag :step_number, "1", id:"search_youtube_step_number" %>
      <%= text_field_tag :vq, "", id:"search_youtube_text" %>
      <%= button_tag "Set", type:"button", id:"search_youtube_button" %>
      <ul id="search_result_list">
      </ul>
      <%= button_tag "close", type:"button", id:"search_youtube_area_close_button" %>
    </div>
  </div>
</div>

