<% content_for :javascript_after do %>
	<%= javascript_include_tag "recipes/edit" %>
<% end %>
<% content_for :style_after do %>
	<%= stylesheet_link_tag "recipes/edit" %>
<% end %>

<div class="bace_bg">
	<%=semantic_form_for @recipe, url: recipe_url(@recipe.id), html:{ multipart: true } do |f| %>
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<article class="contents_recipes">
				<h1 class="ttl_recipe"><%= f.text_field :title, value: @draft.title %></h1>
				<%= f.file_field :recipe_image %>
				<div id="recipe_image_area">
					<%= image_tag @draft.recipe_image.url(:detail_large_thumb), width:"280", height:"466", alt:"", id:"recipe_image" %>
				</div>
				<div class="explanation">
					<p><%= f.text_area :description, value: @draft.description, size:"40x3" %></p>
					<div class="clearfix">
						<p class="user_name">
							<% if @draft.user.profile.image.blank? %>
								<span class="flo_l"><%= image_tag "common/user_ico.png", size:"22x22", alt:"" %></span>
							<% else %>
								<span class="flo_l"><%= image_tag @draft.user.profile.image.url(:small_icon), size:"22x22", alt:"" %></span>
							<% end %>
							<span class="flo_l"><%= link_to @draft.user.profile.nickname, kitchen_url(@user) %></span>
						</p>
					</div>
					<div>
						<h3><%= t(:genre, scope:"views.recipes.edit") %></h3>
						<%= recipe_genre_select_area(f, selected: @draft.recipe_food_id ) %>
						<p><%= label_tag :new_food_genre, "Nhập tên nhóm thực phẩm" %>:<%= text_field_tag :new_food_genre, "", size: 10 %></p>
					</div>
					<p id="genre_description">Nhập tên nhóm thực phẩm nếu không tên có trong list.</p>
					<div id="ingredients">
						<p>
							<span class="material_txt"> Nguyên liệu </span>
							(<%= f.text_field :amount, size: 3, value: (@draft.amount.to_i.zero? ? 1 : @draft.amount) %> người ăn)
						</p>
						<table class="ingredients_list" id="foodstuffs">
							<% i=0 %>
							<% @draft.edit_foodstuffs.each do |foodstuff| %>
								<tr class="ingredient_row clearfix">
									<td class="ingredient_name"><%= text_field_tag "foodstuffs[][name]", foodstuff.name, placeholder: @play_holder[i][0] %></td>
									<td class="ingredient_quantity"><%= text_field_tag "foodstuffs[][amount]", foodstuff.amount, placeholder: @play_holder[i][1] %></td>
									<td class="ingredient_close_button"><form><%= submit_tag "☓", type:"button" %></form></td>
								</tr>
								<% i = i+1 %>
							<% end %>
						</table>
						
						<form id="add_foodstuff_form"><%= submit_tag t(:add_foodstuff, scope:"views.recipes.edit"), type:"button", id:"add_foodstuffs_row" %></form>
					</div>
				</div>
				<div id="recipes_steps_area" class="area">
					<dl id="recipe_steps">
						<% @steps.each.with_index(1) do |step,i| %>
							<dl class="step" id="recipe_step_<%= i %>">
								<dt>BƯỚC <%= i %></dt>
								<dd>
									<%= text_area_tag "recipe_steps[][content]", step.content, class:"step_edit_area", id:"recipe_steps_#{i}_content" %>
									<div class="selecter">
										<% if step.image.present? %>
											<div class="image_field">
												<%= file_field_tag "recipe_steps[][image]", id:"recipe_steps_#{i}_image_selecter", size: 15 %>
												<%= image_tag step.image.url, alt: "" %>
											</div>
										<% else %>
											<div class="image_field">
												<%= label :image, "Image" %>
												<%= file_field_tag "recipe_steps[][image]", id:"recipe_steps_#{i}_image_selecter", size: 15 %>
											</div>
										<% end %>
										<% if step.movie_url %>
											<form class="movie_button_field">
												<%= text_field_tag "recipe_steps[][movie_url]", step.movie_url, id:"recipe_steps_#{i}_movie_url" %>
												<%= submit_tag "Movie url", type:"button", class:"movie_button" %>
												<iframe width="224" height="126" src="<%= step.movie_url %>" frameborder="0" allowfullscreen></iframe>
											</form>
										<% else %>
											<form class="movie_button_field">
												<%= text_field_tag "recipe_steps[][movie_url]", step.movie_url, size: 20, id:"recipe_steps_#{i}_movie_url" %>
												<%= submit_tag "Movie url", type:"button", class:"movie_button" %>
											</form>
										<% end %>
									</div>
								</dd>
							</dl>
						<% end %>
					</dl>
					<form id="add_step_form"><%= submit_tag t(:add_step, scope:"views.recipes.edit"), type:"button", id:"add_steps" %></form>
				</div>
				
				<h3><%= t(:one_point, scope:"activerecord.attributes.recipe") %></h3>
				<div class="section"><%=f.text_area :one_point, value: @recipe.one_point %></div>
				
				<p class="form_actions">
					<%= f.submit name:"edit", value: t( :edit,   scope:"views.recipes.edit" ), id:"edit_button" %>
					<%= f.submit name:"save", value: t( :commit, scope:"views.recipes.edit" ), id:"save_button" %>
				</p>
				<div id="search_youtube_area">
					<div class="content">
						<%= hidden_field_tag :step_number, "1", id:"search_youtube_step_number" %>
						<%= text_field_tag :vq, "", id:"search_youtube_text" %>
						<%= button_tag "tìm kiếm", type:"button", id:"search_youtube_button" %>
						<ul id="search_result_list"></ul>
						<p id="search_youtube_area_close_button_row"><%= button_tag "đóng", type:"button", id:"search_youtube_area_close_button" %></p>
					</div>
				</div>
			</article>
		</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
	<% end %>
</div>

