<div id="content_footer">
  footer
</div>

<div id="content_body">
  <div class="paginate">
    <%= paginate @recipes %>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="figure recipe_photo">
        <% if recipe.recipe_image.blank? %>
          <%= image_tag recipe.recipe_image.url(:thumb), alt:"image" %>
        <% else %>
          <%= "no_image" %>
        <% end %>
      </div>
      <%= link_to recipe.title, recipe_url(recipe) %>
      <p class="description"><%= recipe.description %></p>
      <p class="chef">by <%= recipe.chef.profile.nickname %></p>
      <ul class="recipe_status">
        <li><%= t(:id, scope:"activerecord.attributes.recipe") %>:<%= recipe.id %></li>
        <li><%= t(:created_at, scope:"activerecord.attributes.recipe") %>:<%= recipe.created_at.strftime("%Y-%m-%d") %></li>
        <li><%= t(:updated_at, scope:"activerecord.attributes.recipe") %>:<%= recipe.updated_at.strftime("%Y-%m-%d") %></li>
      </ul>
    </div>
  <% end %>
</div>
