
<%=form_for @recipe do |f| %>
  <p><%= f.label :title, "Title:" %></p>
  <p><%= f.text_field :title, value: @recipe.title %></p>
  <p><%= f.label :description, "Description:" %></p>
  <p><%= f.text_area :description, value: @recipe.description %></p>
  <p><%= f.submit "Save" %></p>
<% end %>
