<%= include_action_javascript %>

<div id="content_body" class="section">
  <h2>レシピ作成</h2>
  <%= semantic_form_for @recipe, html:{ multipart: true } do |f| %>
    <% unless @recipe.valid? %>
      <div id="error_explanation">
        <% @recipe.errors.each do |key,errormes| %>
          <p><%= errormes %></p>
        <% end %>
      </div>
      <br />
    <% end %>
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, value: @recipe.title %></p>
    <p><%= f.label :description %></p>
    <p><%= f.text_area :description, value: @recipe.description %></p>
    <div id="recipe_genre_select_area" class="area">
      <%= f.label :recipe_food_id %>
      <%= recipe_genre_select_area(f) %>
    </div>
    <p>
      <%= f.label :recipe_image %>
      <%= f.file_field :recipe_image  %>
    </p>
    <p><%= f.label :public %></p>
    <p><%= f.select :public, { t( :public, scope:"views.recipes.new" ) => true, t( :closed, scope:"views.recipes.new" ) => false } %></p>
    </p>
    <p><%= link_to t( :caution, scope:"views.recipes.new" ), action:"caution" %></p>
    <p><%= f.submit t( :next_step_button, scope:"views.recipes.new" ) %></p>
  <% end %>
</div>
