<% content_for :javascript_after do %><%= javascript_include_tag "recipes/new" %><% end %>
<% content_for :style_after do %><%= stylesheet_link_tag "recipes/new" %><% end %>

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<article class="inp_a clearfix">
			<h2 class="txt20">Đăng món ăn của bạn</h2>
			<section>
			<%= semantic_form_for @recipe, html:{ multipart: true } do |f| %>
				<% if @recipe.errors.any? %>
				<div id="error_explanation">
					<% @recipe.errors.full_messages.each do |mes| %>
						<p><%= mes %></p>
					<% end %>
				</div>
				<% end %>
			
				<div class="ltc cl clearfix">
					<p><%= f.label :title %></p>
					<%= f.text_field :title, value: @recipe.title, size: 70 %>
				</div>
				<div class="ltc cl clearfix">
					<p><%= f.label :description %></p>
					<%= f.text_area :description, value: @recipe.description, rows:6 %>
				</div>

				<div class="ltc cl clearfix">
					<p><%= f.label :recipe_food_id %></p>
					<div class="ibox">
						<%= recipe_genre_select_area(f) %>
					</div>
				</div>
				<div class="ltc cl clearfix">
					<p><%= f.label :recipe_image %></p>
					<div class="ibox">
						<%= link_to "(file uploaded)", @recipe.image.url if @recipe.image.present? %>
						<%= f.file_field :recipe_image %>
						<%= f.hidden_field :recipe_image_cache %>
					</div>
				</div>
				
				<p><a href="#"><%= link_to t( :caution, scope:"views.recipes.new" ), action:"caution" %></a></p>
				<div class="inp_btn cl">
					<%= f.submit t( :next_step_button, scope:"views.recipes.new" ), id:"regist_button" %>
				</div>
				<% end %>
			</section>
		</article>
	</div>
</div>