<%= include_action_style_sheet %>
<%= include_action_javascript %>

<%= render partial:"forbiddon_right_click" %>

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<article class="contents_recipes">
				<% if user_signed_in? %>
					<%=form_for( @bookmark, html:{ id:"bookmark_button" } ) do |f| %>
						<%= f.hidden_field :recipe_id, value: @recipe.id %>
						<%= f.hidden_field :user_id, value: current_user.id %>
						<%= f.submit (bookmarked? ? t(:unbookmark, scope:"views.recipes.show") : t(:bookmark, scope:"views.recipes.show")) %>
					<% end %>
				<% else %>
				<% end %>
				<h1 class="ttl_recipe"><%= @recipe.title %></h1>
				<ul class="hd_sns sns clearfix">
					<li><a href="#" class="radi5"><%= image_tag "common/fb.png", alt:"", width:"18", height:"18" %>facebook</a></li>
					<li><a href="#" class="radi5"><%= image_tag "common/tw.png", alt:"", width:"18", height:"18" %>twitter</a></li>
					<li><a href="#" class="radi5"><%= image_tag "common/gp.png", alt:"", width:"18", height:"18" %>google</a></li>
					<li><a href="#" class="radi5"><%= image_tag "common/mail.png", alt:"", width:"18", height:"18" %>メールする</a></li>
					<li><a href="#" class="radi5"><%= image_tag "common/print.png", alt:"", width:"18", height:"18" %>印刷する</a></li>
					<li><a href="#" class="radi5"><%= image_tag "common/bookmark.png", alt:"", width:"18", height:"18" %>ブックマークする</a></li>
				</ul>
				<div id="recipe_image_area">
					<%= image_tag @recipe.recipe_image.url(:detail_large_thumb), width:"280", height:"466", alt:"", id:"recipe_image" %>
				</div>
				<div class="explanation">
					<% if login? and (not loved?) %>
						<div id="love_area">
							<%= link_to raw("Love!(#{@recipe.love_count})"), { action:"love", id: params[:id], user_id: current_user.id }, remote: true, id: "love_button" %>
						</div>
					<% else %>
						<span class="loved">Love(<%= @recipe.love_count %>)</span>
					<% end %>
					<p><%=hbr @recipe.description %></p>
					<div class="clearfix">
						<p class="user_name">
							<span class="flo_l">
								<%= image_tag "common/user_ico.png", width:"22", height:"22", alt:"Ẩm Thực Việt" %>
							</span>
							<span class="flo_l"><%= link_to @recipe.user.profile.nickname, kitchen_url(@user) %></span>
						</p>
					</div>
					<div id="ingredients">
						<div class="servings">
							<h3>
								<div class="material clearfix">
									<span class="material_txt"> Nguyên liệu </span>
									<span class="servings_for yield"><%= @recipe.amount && "(#{@recipe.amount} người ăn)"  %></span>
								</div>
								<div class="clear"></div>
							</h3>
						</div>
						<table class="ingredients_list" id="foodstuffs">
							<% @recipe.foodstuffs.each do |foodstuff| %>
								<tr class="ingredient_row">
									<td class="ingredient_name"><%= foodstuff.name %></td>
									<td class="ingredient_quantity"><%= foodstuff.amount %></td>
								</tr>
							<% end %>
						</table>
					</div>
				</div>
			</article>

			<div class="cate01 clearfix" id="recipe_steps">
				<% @recipe.steps.each.with_index(1) do |step,i| %>
					<section class="rec_cat5">
						<h3 class="material_txt">BƯỚC <%= i %></h3>
						<% if step.movie_url.present? %><iframe width="136" height="136" src="<%= step.movie_url %>" frameborder="0" allowfullscreen></iframe><% end %>
						<% if step.image.present? %><%= image_tag step.image.url(:thumb), size:"136x136" %><% end %>
						<div class="txt"><p><%= step.content %></p></div>
					</section>
				<% end %>
			</div>

			<div id="recipe_comment_area" class="area">
				<h3 id="comment_title"><%= t(:comments, scope:"views.recipes.report")%></h3>
				<% @recipe.comments.each do |comment| %>
					<div class="cate01 clearfix">
						<section class="rec_cat5 clearfix">
							<% if comment.image.present? %><%= image_tag comment.image.url(:thumb), size:"280x466", alt:"" %><% end %>
							<div class="txt">
								<h1 class="txt16"><%= comment.title %></h1>
								<p>by&nbsp;<%= link_to comment.chef.nickname, kitchen_url(comment.chef) %></p>
								<p><%= comment.content %></p>
								<div class="info_area">
									<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= comment.created_at.strftime("%Y/%m/%d") %>&nbsp;&nbsp;</span>
									<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= comment.updated_at.strftime("%Y/%m/%d") %>&nbsp;&nbsp;</span>
								</div>
							</div>
						</section>
					</div>
				<% end %>
				<h3><%= t(:post_title, scope:"views.recipes.report")%></h3>
				<%= form_for @recipe_comment do |f| %>
					<p><%= f.hidden_field :recipe_id, value: @recipe.id %></p>
					<p><%= f.label t(:title, scope:"views.recipes.report") %></p>
					<p><%= f.text_field :title, size: 80, value: "" %></p>
					<p><%= f.label t(:image, scope:"views.recipes.report") %></p>
					<p><%= f.file_field :image, value: "" %></p>
					<p><%= f.label t(:content, scope:"views.recipes.report") %></p>
					<p><%= f.text_area :content, size:"60x4", value: "" %></p>
					<p><%= f.submit t(:post_report, scope:"views.recipes.show") %></p>
				<% end %>
			</div>
		</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
</div>
<%= render partial:"layouts/content_footer" %>
