<%= render partial:'content_menu' %>

<div id="content_body" class="section">
  <h2><%= @recipe.title %></h2>
  <div class="section" id="recipe_body">
    <div id="recipe_base_info">
      <div id="recipe_photo" class="figure">
        <%#=image_tag url_for(action:"image", id: @recipe.id) %>
        <%=image_tag @recipe.recipe_image.url %>
      </div>
      <div id="description">
        <%= @recipe.description %>
      </div>
      <h3>材料</h3>
      <table>
        <% @recipe.foodstuffs.each do |foodstuff| %>
          <tr><td><%= foodstuff.name %></td><td><%= foodstuff.amount %></td></tr>
        <% end %>
      </table>
    </div>
    <dl id="recipe_steps">
      <% @recipe.steps.each_with_index do |step,i| %>
        <dl class="step">
          <dt><%= i + 1 %></dt>
          <dd><%= step.context %></dd>
        </dl>
      <% end %>
    </dl>
    <h3>Point!!</h3>
    <div class="section"><%= @recipe.one_point %></div>
    <div id="recipe_comment_area" class="area">
      <h3>Comments</h3>
      <%=form_for :recipe_comments, url:{ controller:"recipe_comments", action:"create" } do |f| %>
        <%=f.hidden_field :recipe_id, value: @recipe.id %>
        <%=f.text_area :content, size:"50x4", value: "" %>
        <p><%=f.submit "post" %></p>
      <% end %>
      <ul id="recipe_comments" class="area">
        <% @recipe.comments.each do |comment| %>
          <li class="recipe_comment">
            <p><%= comment.content %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
