<% content_for :title do %><%= @recipe.title %><% end %>

<% content_for :style_after do %>
	<%= stylesheet_link_tag "colorbox/colorbox" %>
	<%= stylesheet_link_tag "recipes/show" %>
<% end %>

<%= render partial:"forbiddon_right_click" %>

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<div class="message_area">
				<br />
				<br />
				<br />
				<br />
				<p class="txt20 ctr">this recipe is unpubliced</p>
			</div>
			</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
</div>

<%= javascript_include_tag "colorbox/jquery.colorbox-min" %>
<%= javascript_include_tag "recipes/show" %>
