
<% content_for :javascripts do %>
  <%= javascript_include_tag "d3.v2" %>
  <%= javascript_include_tag "statistics" %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :statistics %>
<% end %>

<h2>「<%= @tracker_code %>」入会。退会集計(<%= @month.strftime("%Y年%m月") %>)</h2>

<ul class="data month_selecter">
  <li><%= link_to "先月", month: @month.prev_month.strftime("%Y-%m-%d") %></li>
  <li><%= link_to "来月", month: @month.next_month.strftime("%Y-%m-%d") %></li>
</ul>

<div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>

<%=form_for :tracker_code, method:"GET" do |f| %>
  <%=select_tag :tracker_code, options_for_select(@tracker_codes) %>
  <%=f.submit "select tracker code" %>
<% end %>

<table class="data">
  <tr>
    <th>日付</th>
    <th>来訪者数</th>
    <th>入会者数</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.day %></td>
      <td><%= item.come %></td>
      <td><%= item.entry %></td>
    </tr>
  <% end %>
</table>

