<% content_for :javascripts do %>
  <%= javascript_include_tag "d3.v2" %>
  <%= javascript_include_tag "statistics" %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :statistics %>
<% end %>

<h2>会員数:<%= @user_total %>人</h2>

<div class="widget">
  <h3>男女比</h3>
  <div id="sex_rate" class="graph"></div>
  <script>pie_chart( <%=raw @sex_rate_graph.to_json %>,"#sex_rate")</script>
  <table class="data">
    <% @sex_rate_graph.each do |k,v| %>
      <tr>
        <th><%= k %></th>
        <td><%= v %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="widget">
  <h3>地域別登録人数</h3>
  <div id="area_rate" class="graph"></div>
  <script>bar_chart( <%=raw @prefecture_table.to_json %>,"#area_rate")</script>
  <table>
    <tr>
      <% @prefecture_table.each do |name,amount| %>
        <th><%= name %></th>
        <td><%= amount %></td>
      <% end %>
    </tr>
  </table>
</div>

<div class="widget">
  <h3>年代別登録人数</h3>
  <div id="age_rate" class="graph"></div>
  <script>bar_chart( <%=raw @dicade_table.to_json %>,"#age_rate")</script>
  <table class="data">
    <tr>
      <% @dicade_table.each do |name,amount| %>
        <th><%= name %></th>
        <td><%= amount %></td>
      <% end %>
    </tr>
  </table>
</div>


