<h1>作成</h1>

<%= semantic_form_for @diary, url:{ action:"create" } do |f| %>
  <p>
    <%=f.label :title %>
    <%=f.text_field :title %>
  </p>
  <p><%= f.label :publiced_at %></p>
  <p><%= f.date_select :publiced_at, use_month_numbers: true %></p>
  <p><%= f.submit %></p>
<% end %>

