<% content_for(:style_after){ stylesheet_link_tag("shop/map") } %>

<%=render partial:"header" %>

<div class='section' id='content'>
  <%=render partial:"shop_content_header" %>

  <div id='shop_content'>
    <%=render partial:"shop_content_top_menu" %>

    <div id='shop_content_body'>
      <div id='shop_map'>
        <div class='figure'>
          <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E5%A4%A7%E5%92%8C%E5%B8%82&amp;aq=&amp;sll=43.78324,7.352257&amp;sspn=0.125668,0.259895&amp;brcurrent=3,0x6018560da50f66a9:0xdd7dc2906810f456,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E5%A4%A7%E5%92%8C%E5%B8%82&amp;t=m&amp;z=12&amp;ll=35.487512,139.45795&amp;output=embed"></iframe>
          <br />
          <small><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E5%A4%A7%E5%92%8C%E5%B8%82&amp;aq=&amp;sll=43.78324,7.352257&amp;sspn=0.125668,0.259895&amp;brcurrent=3,0x6018560da50f66a9:0xdd7dc2906810f456,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E5%A4%A7%E5%92%8C%E5%B8%82&amp;t=m&amp;z=12&amp;ll=35.487512,139.45795" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>
        </div>
        <div id='access_list'>
          <h3>最寄り駅</h3>
          <ul>
            <li>渋谷(埼京線)</li>
            <li>渋谷(埼京線)</li>
            <li>渋谷(埼京線)</li>
            <li>渋谷(埼京線)</li>
          </ul>
        </div>
      </div>
      <div id='basic_info'>
        <h2><%=@shop.name %>基本情報</h2>
        <table id='shop_info'>
          <tr>
            <th>店名</th>
            <td><%= @shop.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <th>アクセス</th>
            <td></td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>
              <p><%= @shop.phone_number %></p>
              <p>※お問い合わせの際はぐるなびを見たとお伝えになるとスムーズです。</p>
            </td>
          </tr>
          <tr>
            <th>FAX</th>
            <td><%= @shop.fax_number %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%=render partial:"shop_content_footer" %>
  <%=render partial:'shop_content_bottom_menu' %>
</div>

<%=render partial:'footer' %>
