
<div id="header" class="header">
  <h1>
    <p>グルメ。食事。レストラン情報</p>
    <p><a href="http://localhost:3000/">ぐるなり東京版</a></p>
  </h1>
  <div class="breadcrumb_list">
    <p>ぐるなび 東京 渋谷・原宿・青山 グルメ 渋谷 グルメ センター街・公園通り グルメ 水響宴 渋谷駅前店</p>
  </div>
</div>

<div class='section' id='content'>
  <%=render partial:"shop_content_header" %>

  <div id='shop_content'>
    <%=render partial:"shop_content_top_menu" %>

    <div id='shop_content_body'>
      <div class='figure' id='shop_image'>
        画像
      </div>
      <div id='shop_menus'>
        <dl>
          <dt>
            <p>2000円台飲み放題コース_渋谷店</p>
          </dt>
          <dd>
            <p>2時間飲み放題全7品】特撰香り美豚しゃぶしゃぶor美豚せいろ蒸しコースはこちら</p>
          </dd>
          <dt>
            <p>2000円台飲み放題コース_渋谷店</p>
          </dt>
          <dd>
            <p>2時間飲み放題全7品】特撰香り美豚しゃぶしゃぶor美豚せいろ蒸しコースはこちら</p>
          </dd>
          <dt>
            <p>2000円台飲み放題コース_渋谷店</p>
          </dt>
          <dd>
            <p>2時間飲み放題全7品】特撰香り美豚しゃぶしゃぶor美豚せいろ蒸しコースはこちら</p>
          </dd>
        </dl>
      </div>
      <div id='pr'>
        <p>渋谷駅1分◆デザート食放付女子会個室宴会:日〜木先着3組様◆</p>
        <p>女子会 2時間4480円⇒2480円 女子会 3時間⇒2980円</p>
        <p>渋谷で飲み放題宴会/歓迎会/女子会宴会</p>
      </div>
      <div id='comment'><%= @shop.comment %></div>
      <table id='topics'>
        <tr>
          <td rowspan='3'>
            <p>トピックス</p>
          </td>
          <td>
            <p>ぐるなび会員限定！シークレットクーポンをチェック！</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>【誕生日☆女子会】美豚しゃぶしゃぶ飲放コース2480円</p>
          </td>
        </tr>
        <tr>
          <td>
            <ul>
              <li>【WEB予約】誰でも簡単に予約！【24時間】オンライン予約受付中</li>
              <li>食べて体内美人!! 美豚しゃぶしゃぶ2H飲放付⇒2480円◆渋谷店</li>
              <li>女子会コース♪ スイーツ食べ放題で女子力UP⇒2480円◆渋谷店</li>
              <li>嬉しい特典 a)誕生日ケーキプレゼントb)お会計15％OFF◆渋谷店</li>
              <li>女子ウケ♪こだわりの食べる美肌サプリ美食メニュー推薦◆渋谷店</li>
              <li>今月限定のお得なクーポン情報・詳細はコチラから⇒♪◆渋谷店</li>
            </ul>
          </td>
        </tr>
      </table>
      <div id='recommend_point'>
        <h2><%= @shop.name %>のオススメ</h2>
      </div>
      <div id='recommend_meny'>
        <h2><%=@shop.name %>のオススメメニュー</h2>
      </div>
      <div id='basic_info'>
        <h2><%=@shop.name %>基本情報</h2>
        <table id='shop_info'>
          <tr>
            <th>店名</th>
            <td><%= @shop.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <th>アクセス</th>
            <td></td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>
              <%= @shop.phone_number %>
              <p>※お問い合わせの際はぐるなびを見たとお伝えになるとスムーズです。</p>
            </td>
          </tr>
          <tr>
            <th>FAX</th>
            <td><%= @shop.fax_number %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <%=render partial:"shop_content_footer" %>
  <%=render partial:'shop_content_bottom_menu' %>
</div>

<%=render partial:'footer' %<
