<div class="bace_bg">
	<div class="contents_bg clearfix">
		<%= render partial:"content_header" %>
		<div class="clearfix mypage_content" >
			<h2 class="txt16 ttl_mypage">Các món ăn đã đăng</h2>
			<article class="cate01 clearfix">
				<div class="paginate">
					<%= paginate @recipes %>
				</div>
				<% @recipes.each do |recipe| %>
				<!--rec_recipe-->
				<div class="flo_l mypage_rec4">
					<section class="rec_cat4 clearfix">
						<%= link_to(raw(image_tag(recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"#{recipe.title}")), kitchen_url(recipe.chef))%>
						<div class="txt">
							<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
							<p>
								by <%= link_to recipe.chef.profile.nickname, kitchen_url(recipe.chef) %>
							</p>
							<h2><%= truncate(recipe.description, length: 50) %>
							<div class="info_area">
								<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.created_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
								<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.updated_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
								<%= t(:id, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.id %></span>
							</div>
							</h2>
						</div>
					</section>
				</div>
				<% end %>
				<div class="paginate">
					<%= paginate @recipes %>
				</div>
			</article>
		</div>
	</div>
</div>
<!--contents-->
</div>

<!--
<div id="content_body" class="section bace_bg">
	<%= render partial:"content_header" %>
	<div id="mypage_content" class="clearfix mypage_content main_clm">
		<h2 class="txt20">Recipe</h2>
		<div class="paginate">
			<%= paginate @recipes %>
		</div>
		<article class="cate01">
			<div id="recipes">
				<% @recipes.each do |recipe| %>
				<section class="rec_cat4 clearfix">
					<%= image_tag recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"" %>
					<div class="txt">
						<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
						<p>
							by <%= link_to recipe.chef.profile.nickname, kitchen_url(recipe.chef) %>
						</p>
						<h2>
						<p>
							<%= truncate(recipe.description, length: 50) %>
						</p>
						<div class="info_area">
							<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.created_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
							<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.updated_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
							<%= t(:id, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.id %></span>
						</div></h2>
					</div>
				</section>
				<% end %>
			</div>
		</article>
	</div>
	<%= render partial:"layouts/right_side_content" %>
</div>
-->
