<%= include_action_javascript %>

<h2><%= @profile.nickname %>のキッチン</h2>

<%= render partial:"content_header" %> 

<% unless myself? or followed? %>
  <%= link_to "follow",   { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button" %>
<% else %>
  <%= link_to "unfollow", { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button" %>
<% end %>

<table id="profile_image">
  <tr>
    <td>
      <div>
        <%= profile_image_tag(@profile) %>
      </div>
    </td>
  </tr>
  <tr><td><%= @profile.nickname %></td></tr>
</table>

<table>
  <tr>
    <td><%= t(:id, scope:"activerecord.attributes.user_profile") %></td>
    <td><%= @profile.id %></td>
  </tr>
  <% if @visibility.nickname %>
    <tr>
      <td><%= t(:nickname, scope:"activerecord.attributes.user_profile") %></td>
      <td><%= @profile.nickname %></td>
    </tr>
  <% end %>
  <% if @visibility.email %>
    <tr>
      <td><%= t(:email, scope:"activerecord.attributes.user_profile") %></td>
      <td><%= @profile.email %></td>
    </tr>
  <% end %>
  <% if @visibility.sex %>
    <tr>
      <td><%= t(:sex, scope:"activerecord.attributes.user_profile") %></td>
      <td><%=translate_sex( @profile.sex ) %></td>
    </tr>
  <% end %>
  <% if @visibility.birthday %>
    <tr>
      <td><%= t(:birthday, scope:"activerecord.attributes.user_profile") %></td>
      <td><%= @profile.birthday %></td>
    </tr>
  <% end %>
  <% if @visibility.comment %>
    <tr>
      <td><%= t(:comment, scope:"activerecord.attributes.user_profile") %></td>
      <td><%= @profile.comment %></td>
    </tr>
  <% end %>
</table>

<h2>最新レシピ</h2>
<ul class="recipes">
  <% @recipes.each do |recipe| %>
    <li class="recipe">
      <dl class="recipe">
        <dt class="image"><%= image_tag recipe.image.url(:thumb), alt:"image" %></dt>
        <dt><%= link_to recipe.title, recipe_url(recipe) %></dt>
        <dd>
          <p><%= truncate(recipe.description) %></p>
          <h3 class="foodstuffs_title">材料</h3>
          <ul class="foodstuffs">
            <% recipe.foodstuffs.each do |food| %>
              <li><%= food.name %></li>
            <% end %>
          </ul>
          <ul class="recipe_status">
            <li><%= t(:created_at, scope:"activerecord.attributes.recipe") %>:<%= recipe.created_at.strftime("%Y-%m-%d") %></li>
            <li><%= t(:updated_at, scope:"activerecord.attributes.recipe") %>:<%= recipe.updated_at.strftime("%Y-%m-%d") %></li>
            <li><%= t(:id, scope:"activerecord.attributes.recipe") %>:<%= recipe.id %></li>
          </ul>
        </dd>
      </dl>
    </li>
  <% end %>
</ul>

