<%= include_action_javascript %>

<div id="content_body" class="section bace_bg">
	<%= render partial:"content_header" %> 
	<div id="mypage_content" class="clearfix mypage_content" >
		<h1 class="txt20"><%= @profile.nickname %> nhà bếp</h1>
		<div class="content">
			<% if user_signed_in? %>
				<% unless myself? or followed? %>
					<div class="rbtn" id="follow_button_area"><%= link_to "follow",   { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button", class:"radi10" %></div>
				<% else %>
					<div class="rbtn" id="follow_button_area"><%= link_to "unfollow", { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button", class:"radi10" %></div>
				<% end %>
			<% end %>

			<table id="profile_image">
				<tr><td><div><%= profile_image_tag(@profile) %></div></td></tr>
				<tr><td><%= @profile.nickname %></td></tr>
			</table>

			<table id="profiles">
				<tr>
					<th><%= t(:id, scope:"activerecord.attributes.user_profile") %></th>
					<td><%= @profile.id %></td>
				</tr>
				<% if @visibility.nickname %>
					<tr>
						<th><%= t(:nickname, scope:"activerecord.attributes.user_profile") %></th>
						<td><%= @profile.nickname %></td>
					</tr>
				<% end %>
				<% if @visibility.email %>
					<tr>
						<th><%= t(:email, scope:"activerecord.attributes.user_profile") %></th>
						<td><%= @profile.email %></td>
					</tr>
				<% end %>
				<% if @visibility.sex %>
					<tr>
						<th><%= t(:sex, scope:"activerecord.attributes.user_profile") %></th>
						<td><%= translate_sex( @profile.sex ) %></td>
					</tr>
				<% end %>
				<% if @visibility.birthday %>
					<tr>
						<th><%= t(:birthday, scope:"activerecord.attributes.user_profile") %></th>
						<td><%= @profile.birthday %></td>
					</tr>
				<% end %>
				<% if @visibility.comment %>
					<tr>
						<th><%= t(:comment, scope:"activerecord.attributes.user_profile") %></th>
						<td><%= @profile.comment %></td>
					</tr>
				<% end %>
			</table>
			<h2 class="txt20">mới nhất công thức nấu ăn</h2>
			<div>
				<% @recipes.each do |recipe| %>
					<section class="rec_cat4 clearfix">
						<%= image_tag recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"" %>
						<div class="txt">
							<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
							<p>by <%= link_to recipe.chef.profile.nickname, kitchen_url(recipe.chef) %></p>
							<h2>
								<p><%= truncate(recipe.description, length: 50) %></p>
								<div class="info_area">
									<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.created_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
									<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.updated_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
								<%= t(:id, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.id %></span>
								</div>
							</h2>
						</div>
					</section>
				<% end %>
			</div>
		</div>
	</div>
</div>




