<%= include_action_javascript %>
<div class="bace_bg">
	<div class="contents_bg clearfix">
		<%= render partial:"content_header" %>
		<div class="clearfix mypage_content" >
			<br />
			<p class="profile_image">
				<%= profile_image_tag(@profile) %>
			</p>
			<div class="flo_l">
				<table id="profiles">
					<% if @visibility.nickname %>
						<tr>
							<th>Nickname</th>
							<td colspan="2"><%= @profile.nickname %></td>
							<td>Công khai</td>
						</tr>
					<% end %>
					<% if @visibility.email %>
						<tr>
							<th><span class="translation_missing">Email</span></th>
							<td colspan="2"><%= @profile.email %></td>
							<td>Công khai</td>
						</tr>
					<% end %>
					<% if @visibility.sex %>
						<tr>
							<th>Giới tính</th>
							<td colspan="2"><%= translate_sex( @profile.sex ) %></td>
							<td>Công khai</td>
						</tr>
					<% end %>
					<% if @visibility.birthday %>
						<tr>
							<th>Sinh nhật</th>
							<td colspan="2"><%= @profile.birthday %></td>
							<td>Công khai</td>
						</tr>
					<% end %>
					<% if @visibility.comment %>
						<tr>
							<th>Giới thiệu</th>
							<td colspan="2"><%= @profile.comment %></td>
							<td>Công khai</td>
						</tr>
					<% end %>
				</table>
				<% if user_signed_in? %>
					<% unless myself? or followed? %>
					<div class="mypage_btn_area">
						<p class="fbtn radi5 flo_r">
							<%= link_to "Kết bạn",   { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button" %>
						</p>
					</div>
					<% else %>
					<div class="mypage_btn_area">
						<p class="fbtn radi5 flo_r">
							<%= link_to "Thôi kết bạn", { action:"follow", id: params[:id], user_id: current_user.id }, remote: true, id:"follow_button" %>
						</p>
					</div>
					<% end %>
				<% end %>
			</div>
			<% if @recipes.size != 0 %>
				<h2 class="txt16 ttl_mypage cl">Món ăn <%= link_to(@profile.nickname, kitchen_url(@profile)) %> đã đăng</h2>
				<article class="cate01 clearfix">
					<% @recipes.each do |recipe| %> <!--rec_recipe-->
					<div class="flo_l mypage_rec4">
						<section class="rec_cat4 clearfix">
							<ul class="user_oneself clearfix">
								<li class="oneself_name">
									<%= recipe.chef.profile.nickname %>
								</li>
							</ul>
							<%= link_to(raw(image_tag(recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"#{recipe.title}")), controller:"recipes", action:"show", id: recipe.id)%>
							<div class="txt">
								<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
								<p>
									by <%= link_to recipe.chef.profile.nickname, kitchen_url(recipe.chef) %>
								</p>
								<h2><%= truncate(recipe.description, length: 50) %>
								<div class="info_area">
									<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.created_at.strftime("%Y/%m/%d") %>&nbsp;&nbsp;</span>
									<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.updated_at.strftime("%Y/%m/%d") %>&nbsp;&nbsp;</span>
									<%= t(:id, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.id %></span>
								</div></h2>
							</div>
						</section>
					</div>
					<% end %>
				</article>
			<% end %>
		</div>
	</div>
</div>

