<!-- ヘッダ start -->

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
		<!--ttl_page-->
		<section class="colom_ttl_area">
			<h1 class="ttl_cate flo_l">Chọn thể loại món ăn</h1>
			<div class="search search_cate flo_r">
				<%= form_for :word, url:{ controller:"recipe_foods", action:"index" }, method:"GET", html:{ class:"cl" } do |f| %>
					<div class="box radi5">
						<%= text_field_tag :recipe_food_name, "", placeholder:"Tìm kiếm theo tên thể loại", class:"radi5" %>
						<%= f.button "", class:"radi3" %>
					</div>
				<% end %>
			</div>
		</section>
		<!--ttl_pageEnd-->
		<!--cate-->
		<article class="cate01 cate02 clearfix">
			<% @food_genres.each do |genre| %>
				<section class="cate_m">
					<%= link_to(raw("#{image_tag(genre.image.url(:thumb), size:"60x60", alt:"#{genre.name}")}"), recipe_foods_url( recipe_food_genre_id: genre.id ))%>
					<div class="txtarea">
						<h1><%= genre.name %>（<%= genre.amount %>件）</h1>
						<ul class="catelists">
							<% genre.foods.limit(4).each do |food| %>
								<li class="arr txt11 flo_l"><%= link_to food.name, recipe_foods_url( recipe_food_id: food.id) %></li>
							<% end %>
						</ul>
					</div>
					<p class="more arr txt11"><%= link_to "Xem tiếp...", recipe_foods_url( recipe_food_genre_id: genre.id ) %></p>
				</section>
			<% end %>
		</article>
		<!--cateEnd-->
		</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
</div>
<!--wrapperEnd-->


