<div id="header">
  <div id="header_up">
    <h1><%=link_to "ぐるなりレストラン検索", root_url %></h1>
    <ul>
      <li><%=link_to "レストラン検索TOP", action:"index" %></li>
      <li><%=link_to "エリアから探す", action:"area" %></li>
      <li><%=link_to "料理から探す", action:"food_genre" %></li>
      <li><%=link_to "こだわりから探す", action:"eat_style" %></li>
    </ul>
  </div>
  <div id="header_bottom">
    <ul clas="breadcrump_list">
      <li>ぐるなび</li>
      <li>レストラン検索</li>
      <li>エリアから探す</li>
    </ul>
    <ul class="mymenu">
      <li><%=link_to "mypabe",   controller:"mypage",   action:"index" %></li>
      <li><%=link_to "bookmark", controller:"bookmark", action:"index" %></li>
    </ul>
  </div>
</div>
