<div class="bace_bg">
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<aside>
				<div class="side_contents_l">
					<ul class="footstamps">
						<li>
							<a href="/category/list" class="back_to_category_list">«カテゴリ一覧</a>
						</li>
						<li class="indent_level_1">
							野菜
						</li>
						<ul class="sub_categories">
							<li class="txt_cate">
								<a href="#">旬野菜</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">にんじん</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">たまねぎ</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">じゃがいも</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">キャベツ</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">きのこ</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
							<li class="txt_cate">
								<a href="#">豆類</a><%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
							</li>
						</ul>
					</ul>
				</div>
			</aside>
			<div class="contents_cate">
				<h1 class="ttl_cate flo_l">野菜のおかず</h1>
				<p class="txt_sum txt_sum02">
					計：<span class="count">6,000</span>件
				</p>
				<article class="rec_cat rec_cat3 clearfix">
					<%= image_tag "/assets/common/sp01.jpg", width:"120", height:"170", alt:"Ẩm Thực Việt"%>
					<div class="txt">
						<h1 class="txt16"><a href="#">豚しゃぶ用のお肉で肉巻きおにぎり</a></h1>
						<h2>♡2011.4.22 つくれぽ100人ありがとう～♪ 最近人気の肉巻きおにぎりは作った方が買うより断然お安いです♪
						<p>
							by<a href="#">sssssssma</a>
						</p></h2>
					</div>
				</article>
				<article class="cate01 clearfix">
					<div class="clearfix">
						<div class="order_switch">
							<span> 新着順 </span><span class="order_price"> | 
								<%= image_tag "/assets/common/ico_crown.png", class:"ico_crown", alt:"Ẩm Thực Việt"%>
							</span><span><a class="#" href="#">人気順</a> </span>
						</div>
						<div class="mini_paginate">
							<span class="page_num"> 1 / 450ページ </span><a rel="next" href="#">次»</a>
						</div>
						<div id="category_recipes"></div>
					</div>
					<!--rec_recipe-->
					<section class="rec_cat4 clearfix">
						<%= image_tag "/assets/common/sp01.jpg", width:"100", height:"141", alt:"Ẩm Thực Việt"%>
						<div class="txt">
							<h1 class="txt16"><a href="#">豚しゃぶ用のお肉で肉巻きおにぎり</a></h1>
							<p>
								by<a href="#">sssssssma</a>
							</p>
							<h2>♡2011.4.22 つくれぽ100人ありがとう～♪ 最近人気の肉巻きおにぎりは作った方が買うより断然お安いです♪
							<div class="info_area">
								公開：<span>11/07/30&nbsp;&nbsp;</span>更新：<span>12/03/31&nbsp;&nbsp;</span> レシピID：<span>1509988</span>
							</div></h2>
						</div>
					</section>
					<!--rec_recipeEnd-->
					<!--rec_recipe-->
					<section class="rec_cat4 clearfix">
						<%= image_tag "/assets/common/sp01.jpg", width:"100", height:"141", alt:"Ẩm Thực Việt"%>
						<div class="txt">
							<h1 class="txt16"><a href="#">豚しゃぶ用のお肉で肉巻きおにぎり</a></h1>
							<p>
								by<a href="#">sssssssma</a>
							</p>
							<h2>♡2011.4.22 つくれぽ100人ありがとう～♪ 最近人気の肉巻きおにぎりは作った方が買うより断然お安いです♪
							<div class="info_area">
								公開：<span>11/07/30&nbsp;&nbsp;</span>更新：<span>12/03/31&nbsp;&nbsp;</span> レシピID：<span>1509988</span>
							</div></h2>
						</div>
					</section>
					<!--rec_recipeEnd-->
				</article>
				<!--pagination-->
				<div class="paginate">
					<span class="current_page">1</span><a href="#">2</a><a href="#">3</a><a rel="" href="#">4</a><a rel="" href="#">5</a><a href="#">&nbsp;<span rel="next" class="next_page">次へ</span>»</a>
				</div>
				<!--pagination-->
			</div>
		</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
</div>
<dl>
	<% @food_genres.each do |genre| %>
	<dt>
		<%= link_to genre.name, controller:"recipes", action:"index", recipe_food_genre_id: genre.id %>
	</dt>
	<dd>
		<ul>
			<% genre.foods.each do |food| %>
			<li>
				<%= link_to food.name, controller:"recipes", action:"index", recipe_food_id: food.id %>
			</li>
			<% end %>
		</ul>
	</dd>
	<% end %>
</dl>
