<% content_for :style_after do %>
<style>
.mini_paginate > nav.pagination span.page {
	display:none;
}
.mini_paginate > nav.pagination > span.page.current {
	display:inline;
}
.mini_paginate > nav.pagination > span.page.current:after {
	content:" / <%= @recipes.total_pages %> page ";
}
</style>
<% end %>


<div class="bace_bg">
	<div class="contents_bg clearfix">
		<!--main_clm-->
		<div class="main_clm">
			<aside>
				<div class="side_contents_l">
					<ul class="footstamps">
						<li><%=link_to "«Danh sách thực phẩm", { controller:"recipe_food_genres", action:"index" }, class:"back_to_category_list" %></li>
						<li class="indent_level_1"><%= @food_genre.name %></li>
						<ul class="sub_categories">
							<% @food_genre.foods.each do |food| %>
								<li class="txt_cate">
									<%= link_to food.name, recipe_foods_url(recipe_food_id: food.id) %>
									<%= image_tag "arr01.png", width:"14", height:"14", alt:"Ẩm Thực Việt"%>
								</li>
							<% end %>
						</ul>
					</ul>
				</div>
			</aside>
			<div class="contents_cate">
				<h1 class="ttl_cate flo_l"><%= @food_genre.name %></h1>
				<p class="txt_sum txt_sum02">Kết quả : <span class="count"><%= @recipes.total_count %></span> bài</p>
				<% if @recomment_food_genre_recipe %>
					<article class="rec_cat rec_cat3 clearfix">
						<%= image_tag @recomment_food_genre_recipe.image.url(:top_large_thumb), width:"120", height:"170", alt:"" %>
						<div class="txt">
							<h1 class="txt16"><%= link_to @recomment_food_genre_recipe.title, recipe_url(@recomment_food_genre_recipe) %></h1>
							<h2>
								<%= @recomment_food_genre_recipe.description %>
								<p>by&nbsp;<%= link_to @recomment_food_genre_recipe.chef_profile.nickname, kitchen_url(@recomment_food_genre_recipe.chef) %></p>
							</h2>
						</div>
					</article>
				<% end %>
				<article class="cate01 clearfix">
					<div class="clearfix">
						<div class="order_switch">
							<% if @order_mode=="new" %><%= image_tag "/assets/common/ico_crown.png", class:"ico_crown", alt:"" %><% end %>
							<%= link_to raw("<span> Bài mới </span>"), params.merge( order_mode: "new" ) %>
							<span class="order_price"> | </span>
							<% if @order_mode=="ranking" %><%= image_tag "/assets/common/ico_crown.png", class:"ico_crown", alt:""%><% end %>
							<%= link_to raw("<span> Xem nhiều nhất </span>"), params.merge( order_mode: "ranking" ) %>
						</div>
						<div class="mini_paginate">
							<%= paginate @recipes %>
						</div>
					</div>
					<% @recipes.each do |recipe| %>
						<section class="rec_cat4 clearfix">
							<%= image_tag recipe.image.url(:top_large_thumb), width:"100", height:"141", alt:"" %>
							<div class="txt">
								<h1 class="txt16"><%= link_to recipe.title, controller:"recipes", action:"show", id: recipe.id %></h1>
								<p>by <%= link_to recipe.chef_profile.nickname, kitchen_url(recipe.chef) %></p>
								<h2>
									<%= recipe.description %>
									<div class="info_area">
										<%= t(:created_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.created_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
										<%= t(:updated_at, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.updated_at.strftime("%Y/%m/%d") %></span>&nbsp;&nbsp;
										<%= t(:id, scope:"activerecord.attributes.recipe") %>：<span><%= recipe.id %></span>
									</div>
								</h2>
							</div>
						</section>
					<% end %>
				</article>
				<!--pagination-->
				<div class="paginate"><%= paginate @recipes %></div>
				<!--pagination-->
			</div>
		</div>
		<!--main_clmEnd-->
		<%=render partial:"layouts/right_side_content" %>
	</div>
	<!--contents-->
</div>

