<%= include_action_javascript %>

<div id="content_body" class="section bace_bg">
	<div class="contents_bg clearfix" id="invite_area">
		<p class="fb_invite_title">Mời thêm bạn cùng tham gia vào cộng đồng Cook24.</p>
		<p class="cl txt12">Check vào danh sách bạn muốn mời rồi bấm nút [Gởi lời mời] phía dưới. Lời mời của bạn sẽ được gởi qua E-mail!</p>
		
		<%= form_for :friends, url:{ action:"invite" } do |f| %>
			<ul class="friends" style="height: 422px;">
				<% @friends.each do |friend| %>
					<li>
						<%= check_box_tag "invite[]", friend.identifier %>
						<span class="friend_picture"><%= image_tag friend.picture, alt:"" %></span>
						<span class="friend_name"><%= friend.name %></span>
					</li>
				<% end %>
			</ul>
			
			<div class="btn_comment">
			<%=f.submit "Gởi lời mời" %>
			</div>
		<% end %>
	</div>
</div>

