<% content_for :style_after do %>
	<%= stylesheet_link_tag "mypage" %>
<% end %>

<div id="content_body" class="bace_bg">
	<%= render partial:"mypage/content_header" %>
	<div id="mypage_content" class="clearfix mypage_content" >
		<h2 class="txt20">日記</h2>
		<div class="paginate"><%= paginate @diary %></div>
		<div class="content">
			<% if user_signed_in? %>
				<div id="diary_create_link">
					<%= link_to t(:new, scope:"views.diary"), controller:"diaries", action:"new" %>
				</div>
			<% end %>
			<div id="articles" class="section">
				<% @diary.each do |d| %>
					<article>
						<h3><%= link_to d.title, controller:"diary", action:"show", id: d.id %></h3>
						<div><%= truncate( d.content, length: 150) %></div>
					</article>
				<% end %>
			</div>
		</div>
	</div>
</div>

