<% content_for :javascript_after do %>
	<%= javascript_include_tag "mypage/follower" %>
<% end %>

<% content_for :style_after do %>
	<%= stylesheet_link_tag "mypage" %>
<% end %>

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<%= render partial:"mypage/content_header" %>
		<div class="clearfix mypage_content">
			<h2 class="txt16 ttl_mypage">Danh sách những người đang kết nối với bạn</h2>
			<% @follows.each do |follow| %>
				<ul class="clearfix follow_user">
					<li>
						<%= image_tag follow.user_profile.image.url(:icon) || "user_icon.png", alt:"", size:"32x32", class:"icon" %>
						<%= link_to follow.user_profile.nickname, kitchen_url( id: follow.follower_id ) %>
					</li>
					<% unless follow.follow? %>
						<li>
							<span class="fbtn radi5">
								<%= link_to raw("<span>Kết bạn</span>"), follow_kitchen_url( id: follow.user_id, user_id: current_user.id ), remote: true, class:"radi10 follow_button follow disable" %>
							</span>
						</li>
					<% else %>
						<li>
							<span class="fbtn radi5">
								<%= link_to raw("<span>Đang kết nối</span>"), follow_kitchen_url( id: follow.user_id, user_id: current_user.id ), remote: true, class:"radi10 follow_button unfollow disable" %>
							</span>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>
