<% content_for :style_after do %>
	<%= stylesheet_link_tag "mypage" %>
<% end %>

<div id="content_body" class="bace_bg">
	<%= render partial:"mypage/content_header" %>
	<div id="mypage_content" class="clearfix mypage_content" >
		<h2 class="txt20">フォロワー</h2>
		<div class="paginate"><%= paginate @follows %></div>
		<div class="content">
			<div id="articles" class="section">
				<% @follows.each do |follow| %>
					<article>
						<%= image_tag follow.user_profile.image.url(:icon) || "user_icon.png", alt:"", size:"32x32", class:"icon" %>
						<% unless follow.follow? %>
							<p class="rbtn">
								<%= link_to "follow", follow_kitchen_url( id: follow.user_id, user_id: current_user.id ), remote: true, class:"radi10 follow_button" %>
							</p>
						<% end %>
						<p><%= link_to follow.user_profile.nickname, kitchen_url( id: follow.follower_id ) %></p>
						<p><%= truncate( follow.user_profile.comment, length: 40 ) %></p>
					</article>
				<% end %>
			</div>
		</div>
	</div>
</div>

