<% content_for :javascript_after do %>
	<%= javascript_include_tag "mypage/follow" %>
<% end %>

<% content_for :style_after do %>
	<%= stylesheet_link_tag "mypage" %>
<% end %>

<div class="bace_bg">
	<div class="contents_bg clearfix">
		<%= render partial:"mypage/content_header" %>
		<div class="clearfix mypage_content" >
			<h2 class="txt16 ttl_mypage">Danh sách những người bạn đang kết nối</h2>
			<% if @profiles.size==0%>
				<ul class="clearfix follow_user">
					<li>
						Chưa có người bạn nào
					</li>
				</ul>
			<% end %>
			<% @profiles.each do |profile| %>
				<ul class="clearfix follow_user">
					<li>
						<%= image_tag profile.image.url(:icon) || "user_icon.png", alt:"", size:"32x32", class:"icon" %>
						<%= link_to profile.nickname, kitchen_url( id: profile.user_id ) %>
					</li>
					<!--hoverで解除ボタンが出るように。twitterと同じUI-->
					<% unless myself? or followed? %>
						<li>
							<span class="fbtn radi5"><%= link_to raw("<span>unfollow</span>"), follow_kitchen_url( id: profile.user_id, user_id: current_user.id ), remote: true, class:"follow_button follow disable" %></span>
						</li>
					<% else %>
						<li>
							<span class="fbtn radi5"><%= link_to raw("<span>follow</span>"), follow_kitchen_url( id: profile.user_id, user_id: current_user.id ), remote: true, class:"follow_button unfollow disable" %></span>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>
