  <div id='content_body'>
    <h2>Profile</h2>
    <table>
      <tr><td><%= profile_image_tag @profile %></td></tr>
    </table>
    <h3>プロフィール内容</h3>
    <table>
      <tr>
        <td>ユーザーID</td>
        <td colspan="2"><%= @profile.id %></td>
        <td></td>
      </tr>
      <tr>
        <td>ニックネーム</td>
        <td colspan="2"><%= @profile.nickname %></td>
        <td><%= @visibility.nickname ? "公開" : "非公開" %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td colspan="2"><%= @profile.mail_address %></td>
        <td><%= @visibility.mail_address ? "公開" : "非公開" %></td>
      </tr>
      <tr>
        <td>性別</td>
        <td colspan="2"><%=translate_sex( @profile.sex ) %></td>
        <td><%= @visibility.sex ? "公開" : "非公開" %></td>
      </tr>
      <tr>
        <td>生年月日</td>
        <td colspan="2"><%= @profile.birthday %></td>
        <td><%= @visibility.birthday ? "公開" : "非公開" %></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td colspan="2"><%= @profile.comment %></td>
        <td><%= @visibility.comment ? "公開" : "非公開" %></td>
      </tr>
      <tr>
        <td colspan="4"><%=link_to "編集", controller:"profiles", action:"edit" %></td>
      </tr>
    </table>
  </div>
