<% content_for :stylesheet_after do %>
  <%= stylesheet_link_tag :contents %>
<% end %>

<div id="content_body" class="bace_bg">
  <%= render partial:"mypage/content_header" %>
  <div id="mypage_content" class="clearfix mypage_content" >
    <h2 class="txt20"><%= t(:user_profile, scope:"activerecord.models") %></h2>
    <div class="content">
      <table>
        <tr><td><%= profile_image_tag @profile %></td></tr>
      </table>
      <table id="profiles">
        <tr>
          <td><%= t(:nickname, scope:"activerecord.attributes.user_profile") %></td>
          <td colspan="2"><%= @profile.nickname %></td>
          <td><%= @visibility.nickname ? t(:public, scope:"views.mypage") : t(:closed, scope:"views.mypage") %></td>
        </tr>
        <tr>
          <td><%= t(:email, scope:"activerecord.attributes.user_profile") %></td>
          <td colspan="2"><%= @profile.email %></td>
          <td><%= @visibility.email ? t(:public, scope:"views.mypage") : t(:closed, scope:"views.mypage") %></td>
        </tr>
        <tr>
          <td><%= t(:sex, scope:"activerecord.attributes.user_profile") %></td>
          <td colspan="2"><%=translate_sex( @profile.sex ) %></td>
          <td><%= @visibility.sex ? t(:public, scope:"views.mypage") : t(:closed, scope:"views.mypage") %></td>
        </tr>
        <tr>
          <td><%= t(:birthday, scope:"activerecord.attributes.user_profile") %></td>
          <td colspan="2"><%= @profile.birthday %></td>
          <td><%= @visibility.birthday ? t(:public, scope:"views.mypage") : t(:closed, scope:"views.mypage") %></td>
        </tr>
        <tr>
          <td><%= t(:comment, scope:"activerecord.attributes.user_profile") %></td>
          <td colspan="2"><%= @profile.comment %></td>
          <td><%= @visibility.comment ? t(:public, scope:"views.mypage") : t(:closed, scope:"views.mypage") %></td>
        </tr>
        <tr>
          <td colspan="4"><%=link_to t(:edit, scope:"views.mypage"), controller:"profiles", action:"edit" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

