<div class="bace_bg">
	<div class="contents_bg clearfix">
		<%= render partial:"mypage/content_header" %>
		<div class="clearfix mypage_content">
			<h2 class="txt16 ttl_mypage">retire</h2>
			<article class="cate01 clearfix">
				<%= form_for :user, url:"/user", method:"DELETE" do |f| %>
					<%= f.submit "retire" %>
				<% end %>
				<%= form_for :user, url:"/" do |f| %>
					<%= f.submit "cancel" %>
				<% end %>
			</article>
		</div>
	</div>
	<!--contents-->
</div>

