<h1>Profile</h1>

<%= semantic_form_for [@profile], url:{ action:'update' } do |f| %>
  <table>
    <tr>
      <td><%=f.label :nickname, "ニックネーム" %></td>
      <td colspan="2"><%=text_field_tag :nickname, @profile.nickname %></td>
      <td></td>
    </tr>
    <tr>
      <th>お住まい</th>
      <td colspan="2"><%=text_field_tag :address, @profile.address %></td>
      <td></td>
    </tr>
    <tr>
      <th>誕生日</th>
      <td colspan="2"><%= f.text_field :birthday, value:@profile.birthday %></td>
      <td></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td colspan="2"><%= f.text_field :mail_address, value: @profile.mail_address %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><%=f.label :first_name, "性" %></td>
      <td><%=f.label :last_name, "名" %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.text_field :first_name, value: @profile.first_name, size: 8 %></td>
      <td><%= f.text_field :last_name,  value: @profile.last_name,  size: 8  %></td>
      <td></td>
    </tr>
    <tr>
      <td><%=f.label :sex, "性別" %></td>
      <td colspan="3"><%= select_sex( f, @profile.sex ) %></td>
    </tr>
    <tr>
      <td colspan="4"><%=f.submit "保存" %></td>
    </tr>
  </table>
<% end %>
