<h1>Profile</h1>

<%= form_for :user_info, url:{ action:'update' } do |f| %>
  <table>
    <tr>
      <td><%=f.label, :nickname, "ニックネーム" %></td>
      <td colspan="2"><%= f.text_field :nickname, value: @info.nickname %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td colspan="2"><%= f.text_field :mail_address, value: @info.mail_address %></td>
    </tr>
    <tr>
      <td></td>
      <td>性</td>
      <td>名</td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.text_field :first_name, value: @info.first_name %></td>
      <td><%= f.text_field :last_name,  value: @info.last_name  %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td colspan="2"><%= select_sex( f, @info.sex ) %></td>
    </tr>
    <tr>
      <td>生年月日</td>
      <td colspan="2"><%= f.text_field :birthday, value: @info.birthday %></td>
    </tr>
    <tr>
      <td colspan="3"><%=f.submit "保存" %></td>
    </tr>
  </table>
<% end %>
