<div id="header">
  <div class="logo">
    <%= link_to t(:title, scope:"views.header"), root_url %>
  </div>
  <%= form_for( :recipes, url: recipes_url, html:{ class:"header_search" }, method:"GET" ) do |f| %>
    <%= text_field_tag :word, "" %>
    <%= f.submit t(:search_button, scope:"views.header") %>
  <% end %>

  <% unless user_signed_in? %>
    <dl id="login_area">
      <dt>
        <%= form_for :user, url: new_user_registration_url, method:"GET" do |f| %>
          <p><%=f.submit t("views.header.sign_up") %></p>
        <% end %>
      </dt>
      <dt>
        <%= form_for :user, url: new_user_session_url, method:"GET" do |f| %>
          <div><%= f.submit t(:sign_in, scope:"views.header") %></div>
        <% end %>
      </dt>
    </dl>
  <% else %>
    <dl id="login_area">
      <dt>
        <%=form_for :device, url: destroy_user_session_url, method:"DELETE" do |f| %>
          <p><%=f.submit t(:sign_out, scope:"views.header") %></p>
        <% end %>
      </dt>
      <dt>
        <ul id="mymenues_bar">
          <li><%= link_to t(:mypage, scope:"views.header"), controller:"mypage", action:"index" %></li>
        </ul>
      </dt>
    </dl>
  <% end %>
</div>
