<div id="header">
  <div class="logo">
    ロゴ
  </div>
  <%= form_for :recipes, url:{ controller:"recipes", action:"index" }, html:{ class:"header_search" } do |f| %>
    <%= text_field_tag :word, "" %>
    <%= f.submit "検索" %>
  <% end %>
  <dl id="login_area">
    <% unless user_signed_in? %>
      <dt>Login</dt>
      <dd>
        <%= form_for(:user, url: user_session_url) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>
          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
          <div><%= f.submit "Sign in" %></div>
        <% end %>
        <p><%=link_to "register", new_user_registration_url %></p>
      </dd>
    <% else %>
      <dt>
        <%=form_for :device, url: destroy_user_session_url, method:"DELETE" do |f| %>
          <p><%=f.submit "Logout" %></p>
        <% end %>
      </dt>
    <% end %>
  </dl>
  <ul id="user_menu">
      <li><%=link_to "mymenu", controller:"mypage", action:"index" %></li>
      <li><%=link_to "bookmarks", controller:"bookmarks", action:"index" %></li>
  </ul>
</div>
