<% content_for :javascript_after do %>
	<%= javascript_include_tag :streams %>
<% end %>

<div class="side_contents">
	<aside>
		<%= image_tag "bnr.jpg", width:"300", height:"250", alt:"Ẩm Thực Việt"%>
	</aside>

	<article class="side_c01">
		<h1 class="txt12">Topic&amp;News</h1>
		<% @newsfeeds.each do |feed| %>
		<section>
			<%= image_tag feed.image.url(:thumb), width:"48", height:"48", alt:"" %>
			<div class="txtarea txt12">
				<h3><%= link_to feed.title, controller:"newsfeeds", action:"show", id: feed.id %></h3>
				<% if feed.start_at %>
					<p class="att txt11">Từ: <%= feed.start_at %> - <%= feed.end_at %></p>
				<% end %>
			</div>
		</section>
		<% end %>
	</article>
	<article class="side_c01" id="stream_area">
		<h1 class="txt12">Stream</h1>
		<div id="stream_list_box">
			<ul id="stream_list">
				<% @streams.each do |stream| %>
					<li class="txtarea txt12">
						<h3><%=raw stream.title %></h3>
						<p class="att txt11">Từ: <%= stream.created_at %></p>
					</li>
				<% end %>
			</ul>
		</div>
	</article>
</div>
