<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Cook24</title>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag "contents" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "btn" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'html5' %>
  <%= yield :style_after %>
  <%= javascript_include_tag :application %>
  <%= yield :javascript_after %>
  <%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<%=render partial:"layouts/header" %>
<%= yield %>
<%= render partial:"layouts/footer" %>

</body>
</html>
