<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<title><%= yield(:title).instance_eval{ |title| title.present? ? "#{title}" : "Trang web tìm kiếm phương pháp nấu ăn ngon, nhanh, dể hiểu nhất Việt Nam. Nếu muốn đăng món ăn yêu thích của mình hãy xử dụng Cook24" } %></title>
		<meta content=",cook24,ẩm thực,recipe,món ăn,cookpad,đơn giản,nấu ăn,công thức nấu ăn,nấu ngon,ăn ngon" name="keywords" />
		<meta content="Cook24 là Website lớn nhất Việt Nam, tập hợp tất cả các món ăn Việt nam, Âu, Á, và đặc biệt là các món ăn Nhật đang được rất yêu chuộng ở Việt Nam. Tìm kiếm phương pháp và cách nấu các món ăn gia đình do các bà mẹ và chị em đăng lên. Nhiều món ăn với phương pháp chế biến đơn giản, dể hiểu. Bạn có thề đăng món ăn yêu thích của mình lên trang web một cách đơn giản và nhanh chóng" name="description" />
		<link rel="shortcut icon" href="/favicon.gif" type="image/png" />
		<%= stylesheet_link_tag :common %>
		<%= stylesheet_link_tag params[:controller] %>
		<%= yield :style_after %>
		<%= javascript_include_tag :jquery %>
		<%= javascript_include_tag :jquery_ujs %>
		<%= javascript_include_tag :google_analytics %>
		<%= yield :javascript_after %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!--FBのLikeBox設置-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=452090888159529";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!--FBのLikeBox設置-->
		<%= render partial:"layouts/header" %>
		<% if flash[:alert] %><div class="alert"><%= flash[:alert] %></div><% end %>
		
		<%= yield %>
		
		<%= render partial:"layouts/footer" %>
	</body>
</html>
