<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<title>Cook24</title>
		<link rel="shortcut icon" href="/favicon.gif" type="image/png" />
		<%= stylesheet_link_tag "reset.css" %>
		<%= stylesheet_link_tag "common.css" %>
		<%= stylesheet_link_tag "contents" %>
		<%= stylesheet_link_tag "btn" %>
		<%= stylesheet_link_tag params[:controller] %>
		<%= yield :style_after %>
		<%= javascript_include_tag :application %>
		<%= yield :javascript_after %>
		<%= csrf_meta_tags %>

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<%= render partial:"layouts/header" %>
		<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
		<% if flash[:alert] %><div class="alert"><%= flash[:alert] %></div><% end %>
		<%= yield %>
		<%= render partial:"layouts/footer" %>
	</body>
</html>
