<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<title><%= yield(:title).instance_eval{ |title| title.present? ? "#{title}" : "Website cook24.vn tìm kiếm phương pháp nấu ăn ngon, nhanh, dể hiểu nhất Việt Nam. cook24.vn là sự lựa chọn số 1 cho ẩm thực Việt Nam" } %></title>
		<meta content=",cook24,ẩm thực,recipe,món ăn,cookpad,đơn giản,nấu ăn,công thức nấu ăn,nấu ngon,ăn ngon" name="keywords" />
		<meta content="Cook24 là Website lớn nhất Việt Nam, tập hợp tất cả các món ăn Việt nam, Âu, Á, và đặc biệt là các món ăn Nhật đang được rất yêu chuộng ở Việt Nam. Tìm kiếm phương pháp và cách nấu các món ăn gia đình do các bà mẹ và chị em đăng lên. Nhiều món ăn với phương pháp chế biến đơn giản, dể hiểu. Bạn có thề đăng món ăn yêu thích của mình lên trang web một cách đơn giản và nhanh chóng" name="description" />
		<link rel="shortcut icon" href="/favicon.gif" type="image/png" />
		<%= stylesheet_link_tag :reset %>
		<%= stylesheet_link_tag :common %>
		<%= stylesheet_link_tag :btn %>
		<%= stylesheet_link_tag params[:controller] %>
		<%= yield :style_after %>
		<%= yield :javascript_after %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="fb-root"></div>
		<%= javascript_include_tag :fb_likebox %>
		<%= javascript_include_tag :jquery %>
		<%= javascript_include_tag :jquery_ujs %>

		<%= render partial:"layouts/header" %>
		<% if flash[:alert] %><div class="alert"><%= flash[:alert] %></div><% end %>
		
		<%= yield %>
		
		<%= render partial:"layouts/footer" %>

		<%= javascript_include_tag :google_analytics %>
	</body>
</html>
