<!DOCTYPE html>
<html>
<head>
  <title>RasVn</title>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= yield :style_after %>
  <%= javascript_include_tag :application %>
  <%= yield :javascript_after %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render partial:"layouts/header" %>
<%=render partial:"layouts/content_menu" %>

<div id="content" class="section">
  <% if notice or alert %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <%= yield %>
</div>

<%= render partial:"layouts/footer" %>

</body>
</html>
