<%= render partial:'layouts/head' %>
<body>

<div id="content" class="section">
  <% if notice or alert %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <%= yield %>
  <div id="content_footer">
    <%=link_to @advertisement.name, @advertisement.url %>
  </div>
</div>

<%= render partial:"layouts/footer" %>

</body>
</html>
