<%= render partial:'layouts/head' %>
<body>

<%=render partial:"layouts/recipe_header" %>
<%=render partial:"layouts/content_menu" %>


<div id="content" class="section">
  <% if notice or alert %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <div id="nav" class="nav">
    <dl>
      <dt><%=link_to "プロフィール", action:"index" %></dt>
      <dt><%=link_to "レシピ", action:"recipes" %></dt>
    </dl>
  </div>
  <%= yield %>
</div>

<%= render partial:"layouts/footer" %>

</body>
</html>
